[2020-03-17 16:08] themightychris opened #1 "Create static k8s manifests for scaled deployment"
For our first pass at providing an alternative to Heroku, we've spun up a dedicated `chime-live` Kubernetes cluster on Linode. Currently it has 3 nodes with 6 CPUs each

To close this issue, add a set of static manifests to this repository for a deployment that takes the *current* Streamlit-based Chime implementation, runs as many workers as possible on that 3x6 cluster, and includes deploying an

[2020-03-17 16:30] themightychris opened #2 "Set up workflow to publish multi-page docs to gh-pages"
Create a workflow for publishing a multi-page set of docs to GitHub pages

[2020-03-17 16:36] MooseQuest opened #3 "Create Observability Stack for Monitoring and Logging"
Generating the observability stack serves the following purposes:

- Allows for monitoring of both the cluster and application.
- Identify resource contention and scale issues through metrics
- Allows developers to pinpoint errors and surface them for ops alerts

Components to generate:

- The data pipeline which will deliver logs from the environment and application
- The metrics visualization
-

[2020-03-17 17:03] sam-qordoba commented on #1
"as many workers as possible on that 3x6 cluster" do we know how many CPUs are left after k8s + ingress overhead? I assume around 15? Since Python is so single-threaded, probably just want to run 15 (+/- a few) replicas?

[2020-03-17 17:19] sam-qordoba opened #4 "`pip install chime`"
Related to https://github.com/pennsignals/chime/issues/6

Per this [slack message](https://codeforphilly.slack.com/archives/C01080RBV3Q/p1584462431020400),

![image](https://user-images.githubusercontent.com/47401552/76882672-3c755080-6838-11ea-91bf-f8fdec7d5552.png)

I am going to guess at some desired functionality / API design, please discuss / correct me in the comments:

* Should be able to `

[2020-03-17 17:29] mdbecker commented on #4
Hi @sam-qordoba this is a great idea :-D. @quinn-dougherty actually attempted to do this yesterday but it caused some unexpected instability in the application (errors in the live productions version). I would like this refactor to happen sooner rather than later but I'm afraid this is going to have to wait until we've knocked out some of the issues causing instability in the live version. For now

[2020-03-17 17:32] luminoso commented on #4
Thank you for considering this. For what I saw in the source-code, it can be split into three parts. My suggestion is:

1. `sim_sir` that has the SIR implementation. This module is invoked with a set of initial values. The output is a data-frame (`sir_results` with the values `s`, `i` and `r`) of the computation of the model.

2. `impact_estimator`: computes `icu`, `hospitalized`, `ventilated` (or

[2020-03-17 17:36] themightychris commented on #1
@sam-qordoba that sounds like a reasonable assumption to start from, and then adjust as needed

[2020-03-17 17:37] quinn-dougherty commented on #4
i like your thoughts @sam-qordoba  and @luminoso! imo, the model package only needs one _public_ method--- one that hides the following code:
[code]

you can read my take on that method here https://github.com/quinn-dougherty/chime/blob/refactor/src/model.py#L47

[2020-03-17 17:43] quinn-dougherty commented on #4
just a note, in https://github.com/pennsignals/chime/pull/58 chart rendering is function calls a la `def some_chart(dat: pd.DataFrame) -> alt.Chart`, so we're well on our way to modularizing that!

[2020-03-17 17:51] sam-qordoba opened #7 "Detailed description of each input parameter"
In a hidden-by-default section at the bottom, provide a list containing details of each input parameter and how the default value is estimated. This is in lieu of the ability to add this information as a tooltip in streamlit.

Also, `LOS` should display as `Length of Stay` for accessibility

[2020-03-17 17:58] luminoso commented on #4
The 3c19ef8 example it is still somewhat coupled to a projection. From what I read on slack I saw requests for other kind of projections. Something like this:

[code]

This way projections (whatever they are) can be invoked over the same s,i,r results.

[2020-03-17 17:58] sam-qordoba opened #8 "Dashboard documentation page"
* static page for app documentation
* includes description of overall analysis method & individual model parameters

Done: documentation made in markdown format

[2020-03-17 17:59] sam-qordoba opened #9 "Hospitalization, ICU, Vent % allow floating points"
Similar to hospital market share, these sliders should accept floating point inputs.

[2020-03-17 18:01] sam-qordoba opened #10 "The tool should not crash when the confirmed cases=0 and/or hospitalization=0"
There should be either instruction to use "1" instead of "0", or update the code to use 1 when someone enters 0.

currently the tool crashes.

![image](https://user-images.githubusercontent.com/47401552/76886863-98db6e80-683e-11ea-81a6-f7d730d297c8.png)

[2020-03-17 18:02] quinn-dougherty opened #11 "admitted patients (census) chart is weekly granular, should be daily"
as per discussion in thread https://github.com/pennsignals/chime/pull/58 ,

it used to look like this
![76877593-0640cc80-684a-11ea-89ab-f5b1e7e2f279](https://user-images.githubusercontent.com/39039420/76886881-c7197800-6857-11ea-8ed6-de905822b822.png)

now it looks like this
![Screenshot from 2020-03-17 12-55-14](https://user-images.githubusercontent.com/39039420/76886900-d13b7680-6857-11ea-9b3e-

[2020-03-17 18:03] sam-qordoba opened #12 "Update viz package"
* Replace matplotlib with interactive viz package (altair, plotly, etc) to speed up app delivery and improve interactivity
* replace visualizations with new package code
* Another factor to consider is the amount of space each input (e.g. Currently Known Regional Infections, Currently Hospitalized COVID-19 Patients) takes up. It would be nice to be able to use the screen space more efficiently to

[2020-03-17 18:06] sam-qordoba opened #13 "Add CI tool for testing"
Potential goals, from slack conversation:

1. Goal - make sure the Penn version of this is easy to deploy
2. Goal - make sure this is easy for new places to adopt

Some potential next steps (pulled from slack discussion):

1. Hook up Github actions
2. Document workflow for tagging releases
3. Document workflow to prove site has deployed
4. Script & document this workflow: fork the repo, spin up a

[2020-03-17 18:07] sam-qordoba opened #14 "Add caching"
streamlit supports caching... maybe this would be a good idea to speed things up?

[Streamlit caching docs](https://docs.streamlit.io/caching.html)

[2020-03-17 18:13] sam-qordoba opened #15 "Support Interventions"
Given that many governments are enacting policies which effectively change R0, it might be useful to support an "intervention" - a sudden change in R0.

[2020-03-17 18:19] quinn-dougherty commented on #12
i think we can close this. https://github.com/pennsignals/chime/pull/58 is merged. and there's some followup in the form of https://github.com/pennsignals/chime/issues/29 and https://github.com/CodeForPhilly/chime/issues/11

To the comment about the sidebar UX---
1. streamlit is very limited, it hides all the css from us so we can't manipulate those elements at all
2. the sidebar can be hidden-- t

[2020-03-17 18:19] #12 closed

[2020-03-17 18:20] quinn-dougherty commented on #14
This will follow trivially from wrapping key operations in functions as discussed here https://github.com/pennsignals/chime/issues/6#issuecomment-600214043 -- note caching is not the sort of side effect that limits modularity in my experience.

[2020-03-17 18:22] sam-qordoba opened #17 "Natural language summary of outputs"
In addition to the output plots, it would help to have an automatically takeaway in words. For example:

Peak admissions projected in XX days.
ICU admissions projected to surpass XX in YY days.
...

[2020-03-17 18:23] sam-qordoba opened #18 "Allow user to specify R0 (in lieu of doubling time)"
Calculation (extends "more info about this tool"):

We can compute the implicit $R_0$ from our doubling time inputs and our assumed duration of infectiousness $(1/\gamma)$. Since $R_0$ is the number of additional individuals infected by each infected individual when $I << S$, we can compute the growth rate $g$ as a function of $R_0$ and $\gamma$:
$$g = \gamma R_0 $$
From our previous equation for

[2020-03-17 18:24] sam-qordoba commented on #18
@cjbayesian is this already implemented?

[2020-03-17 18:26] sam-qordoba opened #19 "The data table is un-readable for large numbers"
The table should resize to display all numbers OR be exportable.

![image](https://user-images.githubusercontent.com/47401552/76888919-f58c5880-6841-11ea-93dc-e77dc4b95706.png)

However, others weren't able to recreate this:

![image](https://user-images.githubusercontent.com/47401552/76889000-0fc63680-6842-11ea-819d-48b77d5c5fe8.png)

[2020-03-17 18:26] MooseQuest commented on #11
Add accessibility to this chart and allow for the granularity to be selected. If there is argument against, we'd probably need to explain why the data is daily | weekly.

[2020-03-17 18:27] sam-qordoba opened #20 "Create method for Clinical owner to collect known cases in region"
1. A clinical owner of CHIME needs to quickly grab reliable figures to reset the model for a new day zero
2. A clinical owner of the Forecast tool to quickly grab the numbers to assess forecasting accuracy.
Known cases in Delaware + Chester + Montgomery+Bucks+Philly

Data resides at:
https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_

[2020-03-17 18:28] sam-qordoba opened #21 "Normalize COVID-19 data from Seattle (or Washington)"
Find the published source and normalize for https://docs.google.com/spreadsheets/d/1P1W6nLPYPoIqKmvKJWq1iUCkTsrPOu7DkOMTmWotJik/edit?usp=sharing

[2020-03-17 18:32] sam-qordoba opened #22 "Toggle linear/log scaling of y-axes on plots"
@quinn-dougherty added a bool flag to functions that look like `def some_chart(*args) -> alt.Chart:`. if `logscale` is flagged, do something like `.encode(y=alt.Y("col", scale=alt.Scale("log")`
 ... read the docs for specific syntax.

[2020-03-17 18:32] sam-qordoba commented on #22
There is an open PR for this in the old repo, https://github.com/pennsignals/chime/pull/39

[2020-03-17 18:35] quinn-dougherty commented on #4
w/r/t

as per my comment in https://github.com/pennsignals/chime/issues/6#issuecomment-600214043, **any refactor/modularization that doesn't interact w streamlit io/state should be fine**

[2020-03-17 18:44] quinn-dougherty commented on #22
sorry, didn't actually add a flag to the function! i was writing a suggestion to someone who might take this card, not noting what i already did

it's definitely possible
- add the flag to function signature
- handle flag in function body
- you can ask the user at function calltime for their preference, if you do this in the simplest possible manner streamlit will put it directly above the chart i

[2020-03-17 19:20] themightychris commented on #2
Done, the GitHub Actions Workflow under `.github/workflows/gh-pages.yml` will build `docs/` via gitbook on push to `master` and deploy the result to gh-pages

[2020-03-17 19:20] #2 closed

[2020-03-17 19:30] asauber commented on #1
Hi. I work on Kubernetes infrastructure at Linode, and have quite a bit of experience with Ingress and dynamically scaling Kubernetes clusters.

Per an internal discussion, we would like to help you guys out here with what you need!

Any chance you can hop on a call at 8:30pm EST tonight?
What's a good email address to reach you for an invite?

[2020-03-17 19:34] luminoso commented on #4
This is an easy task. I can write this proposal plus a non-breaking a interface with the current implementation. Is the `refactor` branch the one for this task?

[2020-03-17 19:39] mariekers commented on #8
will be covered in gitbook

[2020-03-17 19:39] #8 closed

[2020-03-17 19:41] mariekers opened #25 "export dash as pdf"
Allow users to export dash outputs (graphs and text) as a pdf report.

[2020-03-17 19:43] asauber commented on #1
Also, I'm the author of the `linode-cli k8s-alpha` plugin. Out of curiosity, is that what you used to deploy your current cluster?

[2020-03-17 19:54] quinn-dougherty commented on #4
@luminoso  no make a new branch please

[2020-03-17 19:59] sam-qordoba commented on #13
The plan is to push the docker image to dockerhub, https://hub.docker.com/orgs/codeforphilly - that should maybe be part of CICD

[2020-03-17 20:58] mariekers commented on #13
are we using github actions for this?

[2020-03-17 21:03] mariekers commented on #13
the goals here are really to

- [ ] have a CI tool that checks PRs
- [ ] implement the tool on this repo
- [ ] leverage github actions

[2020-03-17 21:09] mariekers opened #32 "implement app monitoring framework"
Allow developers and product owners to see app activity and usage

Done:

 [K8 observability](https://github.com/javajon/kubernetes-observability) implemented on product
- [ ] Start a personal Kubernetes cluster
- [ ] Add a private Docker registry along with a dashboard
- [ ] Build and push 3 Spring Boot microservices to the registry
- [ ] Add a monitoring tool stack with Prometheus, Alertmanager

[2020-03-17 22:30] themightychris commented on #1
Hey @asauber , thanks for connecting! I can jump on a call at 8:30, hop into our slack workspace if you can: http://codeforphilly.org/chat/chime-ops

[2020-03-17 23:01] lottspot opened #37 "Configure test DNS domain"
Domain lke.penn-chime.phl.io has been pointed to the cluster to enable testing. App manifest will need to be updated to include this testing domain.

[2020-03-17 23:03] sam-qordoba opened #38 "implement the Scripts To Rule Them All interface"
Implement the [Scripts To Rule Them All](https://github.com/github/scripts-to-rule-them-all) interface for developers:

[code]

An example of this implementation can be found at [CfP's Prevention Point project](https://github.com/CodeForPhilly/prevention-point/tree/master/script)

@garysieling  has a WIP here- will finish testing later: https://github.com/garysieling/chime/tree/feature/36-scripts-

[2020-03-17 23:09] sam-qordoba commented on #15
The current workaround is described in [this slack convo](https://codeforphilly.slack.com/archives/CV4NGQYMP/p1584486248206800):

[2020-03-17 23:09] lottspot commented on #37
Resolved in pull/39

[2020-03-17 23:09] #37 closed

[2020-03-18 00:17] garysieling commented on #38
My changes  + others are in - verified the scripts work as is

[2020-03-18 00:17] #38 closed

[2020-03-18 00:17] themightychris commented on #38
Merged in via #35 and then refined in 2f54f0c572df1b9b78861a9e171e15cb380c2e3c

[2020-03-18 00:20] mariekers opened #42 "site title"
<img width="321" alt="Screen Shot 2020-03-17 at 8 15 06 PM" src="https://user-images.githubusercontent.com/9036553/76913164-94d63d80-688c-11ea-9532-31d3c3a3de6b.png">

gimme dat sweet custom title

@mdbecker @cjbayesian what do you want this called?

[2020-03-18 00:20] themightychris opened #43 "Begin article: "Contributing: Data Analysis""
Edit [`docs/contributing/data-analysis.md`](https://github.com/CodeForPhilly/chime/blob/master/docs/contributing/data-analysis.md) and then open a PR against [`CodeForPhilly/chime#master`](https://github.com/CodeForPhilly/chime/compare/master...CodeForPhilly:master)

[2020-03-18 00:20] themightychris opened #44 "Begin article: "Contributing: Operations Support""
Edit [`docs/contributing/operations-support.md`](https://github.com/CodeForPhilly/chime/blob/master/docs/contributing/operations-support.md) and then open a PR against [`CodeForPhilly/chime#master`](https://github.com/CodeForPhilly/chime/compare/master...CodeForPhilly:master)

[2020-03-18 00:21] themightychris opened #45 "Begin article: "Operations: Deploy to Your Own Cluster""
Edit [`docs/operations/byok8s.md`](https://github.com/CodeForPhilly/chime/blob/master/docs/operations/byok8s.md) and then open a PR against [`CodeForPhilly/chime#master`](https://github.com/CodeForPhilly/chime/compare/master...CodeForPhilly:master)

[2020-03-18 00:22] quinn-dougherty commented on #42
i don't think it can be _too_ custom. i _should_ be able to change the word `app` to `chime`, but i _probably_ can't get rid of the `- Streamlit` don't get your hopes up

[2020-03-18 00:22] mariekers commented on #42
@quinn-dougherty I'm going to guess something along the lines of "Penn CHIME"

[2020-03-18 00:25] quinn-dougherty commented on #25
so, streamlit doesn't support csv download of dataframes https://github.com/streamlit/streamlit/issues/400

**individual charts can be downloaded**. near the upper right hand corner of each chart is a `...`-looking button that offers png, svg download...

don't get your hopes up too much about exporting to pdf. but i think you can hack it by exporting to html as an intermediary? https://github.com

[2020-03-18 01:13] themightychris commented on #1
We've got a working cluster up at http://lke.penn-chime.phl.io/ so I think this one is  done

[2020-03-18 01:13] #1 closed

[2020-03-18 01:14] themightychris opened #47 "Automate pushing new container to dockerhub on tag"
Add a new GitHub Action workflow that pushes a new container image tagged with `:latest` and `:${version}` to DockerHub on tag

[2020-03-18 01:15] themightychris opened #48 "Automate deploying new container to LKE cluster on tag"
Following #47, automate updating the instance on our LKE cluster via the same GitHub Action workflow

[2020-03-18 03:11] #13 closed

[2020-03-18 03:42] themightychris commented on #25
I maintain this NPM CLI that might be helpful https://github.com/JarvusInnovations/puppeteer-cli

[2020-03-18 04:25] cjbayesian opened #53 "Tooltip in graphs should display y-value"
Current tooltip only displays the key and x-value (days):
![image](https://user-images.githubusercontent.com/1396669/76925149-da0b6700-68ae-11ea-877b-0750b09900b7.png)

[2020-03-18 04:49] themightychris commented on #47
#13 pushes containers to GitHub packages, and I switched the k8s deploy to using that in 9c601cffcefa0a80f7a59f9bbf3563a85f55a747 and 5382f7e9cd84548c58efc5281e756abfe411e73b

I manually created the `regcred` secret in the `chime-live` cluster under the `chime` namespace by creating a personal access token with only read packages permissions via the `brigade-bot` GitHub user

[2020-03-18 04:49] #47 closed

[2020-03-18 04:50] themightychris commented on #48
7e399985b0a3b21cfb092d64f3400e64ff43b57f adds a `kubectl` command for doing it manually to the docs

[2020-03-18 04:52] sam-qordoba commented on #45
I think it is worth mentioning for anyone who wants to do a quick and dirty deploy, they can run `docker run --restart always -p 8000:8000 codeforphilly/chime:latest` and the app will be running on localhost:8000 - that may be enough for some teams

[2020-03-18 04:59] sam-qordoba commented on #25
If we are considering headless chrome -> PDF, it is worth mentioning that per https://github.com/streamlit/streamlit/pull/566 , using the browser's print function to save a PDF works pretty well with streamlit. It's not perfect, but if you close the sidebar first, it mostly looks good
![image](https://user-images.githubusercontent.com/47401552/76926818-8b53d200-689a-11ea-9a17-fdcaf3f7fc6c.png)

[2020-03-18 12:45] cjbayesian opened #56 "Convert 'days from today' into calendar dates"
Use the current date as day 0 and plot projections with x-axis as actual date.

[2020-03-18 12:59] cjbayesian commented on #15
We built in a first pass at this upstream in https://github.com/pennsignals/chime/pull/70. It should be integrated now.

[2020-03-18 15:42] #9 closed

[2020-03-18 15:46] themightychris commented on #25
is there any way to embed a custom CSS stylesheet in Streamlit? If so, we could sprinkle in some print media rules to tweak what the chromium->PDF result looks like, e.g. hide sidebar, adjust spacing, etc

[2020-03-18 15:48] themightychris commented on #45
Ohh good point! you wanna start a "Operations: Deploy with Docker" article? :-)

[2020-03-18 15:51] sam-qordoba commented on #25
AFAICT "yes*"
* very crudely, e.g.

[code]

[2020-03-18 16:07] volker-dicken opened #58 "Suggestions regarding input variables"
Copied from my input in the web pages feedback page this morning:

Dear Colleagues,

as a mathematician working at a Fraunhofer  institute for digital
medicine in Bremen, Germany,

I take great interest in prognostic model available
http://penn-chime.phl.io/

I like to suggest the following:

[1) .. (suggested to make this open source, obdiously alredy done)]

2) Modify your web page such that cri

[2020-03-18 16:41] mariekers commented on #58
We just did some work to allow float values

[2020-03-18 16:50] mariekers opened #59 "Implement python workflow in github actions"
Add workflow for python [testing](https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions) in actions

[2020-03-18 16:53] mariekers opened #60 "Add python tests"
Make sure python code works and isn't broken by changes

Dependent on #59

Not an expert but here's some [tips on writing python tests](https://docs.python-guide.org/writing/tests/)

[2020-03-18 16:54] mariekers opened #61 "Add model tests to pytest"
Implement manual checks done by Penn (@mdbecker will add here) to github actions

Dependent on #59

[2020-03-18 16:54] themightychris commented on #59
A python workflow was already implemented into GitHub actions in #52:

- `pytest` gets run at the end of the `pythonapp` workflow: https://github.com/CodeForPhilly/chime/pull/52/files#diff-7e3bc64c9dd0eb02c0cac6101ee4e286R40
- `test_app.py` was created with a single sample assertion: https://github.com/CodeForPhilly/chime/pull/52/files#diff-dda76c240c44e9a17f6534f1a4065235R4

The TODO at this poin

[2020-03-18 16:54] #59 closed

[2020-03-18 16:55] themightychris commented on #60
I'd also consider this one done already given that you broke out #61 too -- that covers all that's left

[2020-03-18 16:58] themightychris commented on #61
I renamed the issue, because we don't need anyone to make any changes to "actions" at this point. Actions runs `pytest`, and devs can also run `pytest` on their own, so we really just need people working on pytest at this point

[2020-03-18 17:03] sam-qordoba opened #62 "Currently Known Regional Infections parameter confusion"
[A user asked](https://codeforphilly.slack.com/archives/CV4NGQYMP/p1584545062237900)

To which @cjbayesian replied

User responds:

[2020-03-18 17:08] cjbayesian commented on #62
I recommend moving it to the bottom of the sidebar (and changing order of guidance text accordingly).

[2020-03-18 17:08] cjbayesian commented on #62
And stressing in the guidance text what it is used for (only for inferring detection rates).

[2020-03-18 17:09] Mdraugelis opened #63 "Create Penn Medicine Branding"
Insert white label mast on a webpage.   https://www1.pennmedicine.org/includes_shared/penn-medicine-header.html

With Mast header "Penn Medicine - COVID-19 Hospital Impact Model for Epidemics"
Remove the website title "COVID-19 Hospital Impact Model for Epidemics" since it will appear in the header.

A quick fix can also be to include an image in the top of the sidebar.
![PM_RGB_2C](https://user-i

[2020-03-18 17:32] jordanclark397 commented on #62
I think that would solve our problem specifically at our orgnization. Another possible solution is to have a toggle somewhere: "How do you want to estimate regional infections?". The default is to use current hospitalization rate and if someone flips it they get a pop-up warning that says something to the effect of "don't do this, its unreliable, we recommend using hospitalization rates if it all

[2020-03-18 17:34] cjbayesian commented on #62
I like @jordanclark397 's idea. I'm not sure how feasible that is using streamlit. If we can't accomplish the toggle between estimation methods feature until the app is ported to a more flexible framework, then we should at least move the 'Currently Known Regional Infections' input box down to the bottom of the sidebar.

[2020-03-18 17:44] mariekers commented on #63
@quinn-dougherty you think you can implement this with a st.image function or some plain ol markdown?

[2020-03-18 17:45] cjbayesian commented on #63
Not perfect, but adding:
[code]

in `def head()` gets the job done:
![image](https://user-images.githubusercontent.com/1396669/76990585-93555580-691e-11ea-8957-839e82c11821.png)

[2020-03-18 17:47] jordanclark397 commented on #62
@cjbayesian My only concern is the fact that our leadership is still going to be fixated on the fact that known regional infections doesn't influence projections. Again, to be clear, I understand that their intuitions are the real problem here, but its the problem I'm not quite in a position to say "just trust me. Its supposed to be like that".

All that said, I understand that my failure to persu

[2020-03-18 17:55] cjbayesian commented on #18
We opted to display the R0 being implied at the doubling rate specified. We also now display the effective R0 conditional on social distancing.

I think we can close this.

[2020-03-18 18:01] cjbayesian commented on #7
Closed https://github.com/pennsignals/chime/pull/62

[2020-03-18 18:01] #7 closed

[2020-03-18 18:05] mariekers commented on #63
sweet! looks like you can close this issue easily!

[2020-03-18 18:09] mariekers commented on #60
Adding unit tests to the functions within app.py

workflow in git actions does a build check - can we do tests on individual functions?

[2020-03-18 18:12] themightychris commented on #60
A python workflow was already implemented into GitHub actions in #52:

- `pytest` gets run at the end of the `pythonapp` workflow: https://github.com/CodeForPhilly/chime/pull/52/files#diff-7e3bc64c9dd0eb02c0cac6101ee4e286R40
- `test_app.py` was created with a single sample assertion: https://github.com/CodeForPhilly/chime/pull/52/files#diff-dda76c240c44e9a17f6534f1a4065235R4

The TODO at this poin

[2020-03-18 18:13] themightychris commented on #60
Over here you can see how even though the current `test_app.py` only has one trivial assertion, that alone covers a lot of ground in at least ensuring the application and its deps can be loaded: https://github.com/CodeForPhilly/chime/pull/55/checks?check_run_id=515843837

<img width="1413" alt="Screen Shot 2020-03-18 at 2 09 32 PM" src="https://user-images.githubusercontent.com/458494/76993097-b25

[2020-03-18 18:23] MooseQuest opened #64 "unable to connect heroku app to frontend router via new toml files."
Problem: When launching the heroku app without the setup.sh, H11's appear (router backlog) because the app is not being connected on the backend.

Solution: Re add the setup.sh allowing the $PORT to determine the port for the .toml files for streamlit.

[2020-03-18 18:26] themightychris commented on #64
ohh is that the issue and why $PORT exists? because heroku needs to dynamically inject a port number for the app to listen on?

If that's the case, we should still be able to get rid of setup.sh in favor of the versioned `.streamlit/*.toml` files, and use the `STREAMLIT_SERVER_PORT` environment variable instead to override port at runtime

See https://codeforphilly.github.io/chime/contributing/app

[2020-03-18 18:28] themightychris commented on #64
I think procfile could just be:

[code]

[2020-03-18 18:41] #64 closed

[2020-03-18 18:43] mariekers opened #66 "Heroku "staging" instance"
Set master branch up against heroku as a POC for orgs that want to make their own instance and to ensure tool still works on heroku

[2020-03-18 18:51] MooseQuest commented on #64
Yes -- Essentially the app comes up on a random port and the router connects to it. If you do interactive session with your app you can cat the environment variables. Usually there is a helper file that goes along with heroku apps that sets those up so when the app launches it configures itself. It's a good principal for docker images too.

[2020-03-18 19:49] lottspot opened #69 "Scale Ingress Controller"
The cluster is currently running only 1 ingress controller, which could become a major bottleneck when production traffic is turned on. We need to pick a higher number and scale up to it.

[2020-03-18 19:56] lottspot commented on #69
Proposed resolution in #70

[2020-03-18 20:29] lottspot commented on #69
d301d14 merged

[2020-03-18 20:29] #69 closed

[2020-03-18 20:40] #63 closed

[2020-03-18 21:15] garysieling commented on #60
I thought about this a bit, here what I would propose - this should be a pretty straightforward task for someone who knows python reasonably well.

1. Make a test that takes runs using inputs that you can pick in the UI - assert that the model produces the same results currently. Do something like 50 randomized selections of the current inputs. This would prevent regressions.

2. Test each input t

[2020-03-18 21:16] garysieling commented on #60
Possible that I've duplicated the intent of issue #61 in the above

[2020-03-18 21:20] garysieling opened #74 "External monitoring"
It might be valuable to have some external monitoring, e.g. have pingdom notify slack if the site goes down (though perhaps low priority given the attention this already has).

[2020-03-18 21:24] garysieling opened #75 "Fix linter errors"
When I run this command:

[code]

I get a bunch of linter errors:

15    E122 continuation line missing indentation or outdented
1     E203 whitespace before ','
1     E225 missing whitespace around operator
5     E261 at least two spaces before inline comment
8     E302 expected 2 blank lines, found 1
3     E303 too many blank lines (2)
6     E305 expected 2 blank lines after class or function de

[2020-03-18 21:37] pjhoberman commented on #60
I'm going to attempt some tests here, and see if the charting functions return values so that those can be tested (since I have no idea how to make Python look at an actual visual and see if it worked...).

Question: Would you rather this be part of the github actions, or part of the developer flow (git hooks) so that devs can't even push a change without running and passing a test?

[2020-03-18 21:40] themightychris commented on #60
@pjhoberman we already have `pytest` gating pull requests, so my sense is we should just start with adding tests to `test_app.py`

I don't think we need to mess with running it via githooks right now, devs being able to run `pytest` and then GitHub running that against PRs should be a great start

[2020-03-18 22:28] lottspot commented on #66
We discussed this a little bit on slack; reiterating some of the takeaways here:

* GH Actions may have some integrated Heroku actions. We should look into this.
* We will need Heroku credentials to give the CI runner access to a non-prod project to deploy to

[2020-03-18 22:33] lottspot commented on #3
Going to try out this pre-rolled stack as a starting point: https://github.com/coreos/kube-prometheus

Even if all goes well, this doesn't get us a logging stack; just metrics and monitoring.

[2020-03-18 22:42] mariekers opened #76 "Investigate modules from app.py"
how can we break app.py into modules?

- requirement: put custom set variables in separate scripts so partners can maintain that module themselves while updating the rest of the app from the repo

Done: app.py modules understood and documented, plan for re-factoring exists
Quinn & Sam - wanna make a braintrust?

[2020-03-18 22:43] mariekers opened #77 "Implement modules from app.py"
Depends on #76 - script breakdown from that documentation implemented in repo

- update any unit tests on functions in github actions

[2020-03-18 22:52] mariekers opened #78 "Investigate implementation of GA"
Can we implement google analytics on top of streamlit?  how can we get visitor data to app?
Does implementing GA tie the repo to one account?

[2020-03-18 22:56] garysieling commented on #60
@pjhoberman since there's a range of skill level of volunteers, I think it's fine to gate at the last possible point (run tests on github before PR merges) - I don't want anyone to give up if they get tripped up on tests

[2020-03-18 22:59] garysieling commented on #60
Also note based on the slack traffic there's a concurrent refactoring of app.py which would make this ticket a lot easier

[2020-03-18 23:44] mariekers opened #79 "Check that tools used are open source"
Implement scancode toolkit on repo to check licenses and stuff
*this makes it easier for open source teams to contribute

Assigned Kris cause he knows how to do this and what it actually is.

[2020-03-18 23:47] lottspot commented on #3
Roll out went well and we have metrics dashboards running at https://metrics.chime-live-cluster.phl.io/

The manifests used for the rollout are currently sitting in the [issues/3](https://github.com/CodeForPhilly/chime/tree/issues/3) branch, where they will remain until the freeze on PR to masters is lifted.

[2020-03-19 00:33] #11 closed

[2020-03-19 02:03] mariekers opened #81 "document devops structure"
What has the ops team built?  How does it help the app?

Make documentation for app stakeholders to show what/why we built what we built

[2020-03-19 02:07] themightychris opened #82 "k8s: enable ingress-caching of /static/ content"
Like in https://medium.com/@vdboor/using-nginx-ingress-as-a-static-cache-91bc27be04a1

[2020-03-19 02:10] themightychris commented on #82
done in https://github.com/CodeForPhilly/chime/compare/61c126754608831016c8308638c4b3b7de369343...ab8877773815aae71b48a0606057ee3c34505dc5

[2020-03-19 02:10] #82 closed

[2020-03-19 02:24] #53 closed

[2020-03-19 06:16] sam-qordoba opened #84 "Should `N` be removed from `sir`?"
This was a comment from @luminoso on PR #55 but it is really its own issue...

is there any reason to include `N` parameter in `def sir(y, beta, gamma, N):` function @ `models.py`? Because app.py invokes `sim_sir()` and it defaults `N` to `N = S + R + I`. when `sir()` is invoked you just compute always that scale = 1

IMO, `N` should be removed from `sir()` for three reasons:

1. it doesn't belong

[2020-03-19 06:43] sam-qordoba commented on #75
Hey @garysieling , my understanding is that it lints twice, [the first time](https://github.com/CodeForPhilly/chime/blob/master/.github/workflows/pythonapp.yml#L34) strictly, but just as an FYI, [then](https://github.com/CodeForPhilly/chime/blob/master/.github/workflows/pythonapp.yml#L36) with fewer rules, but with `--exit-zero` so that if it hits any failures it fails the build.

[2020-03-19 06:46] sam-qordoba commented on #61
I added a few tests (3 for UI, one for modeling) in #55 , https://github.com/CodeForPhilly/chime/pull/55/files#diff-dda76c240c44e9a17f6534f1a4065235

@themightychris is right, GH Actions calls pytest, which is pretty good about running any files with `test` in the name. So, if people add more tests to that file, or we make a `tests` directory, with module-specific tests in each, they will get run

[2020-03-19 07:02] sam-qordoba commented on #60
@garysieling I think you are right, and unit testing will be easier after merging #55.

I like [this suggestion](https://github.com/CodeForPhilly/chime/issues/60#issuecomment-600862562). I think verifying the models and data aren't broken is most important. However, even after the refactor, there is some coupling of logic and presentation (the framework we are using, Streamlit, makes it pretty har

[2020-03-19 12:05] #19 closed

[2020-03-19 12:05] #76 closed

[2020-03-19 12:17] garysieling opened #85 "Set up automated UI testing"
Split this off #60 -

Something like Cypress/Selenium can potentially serve three separate purposes:
1. Testing areas in streamlit that are hard to test through the provided APIs
2. Regular UI testing (though maybe this is something this project is delegating to streamlit)?
3. Unlocks the potential for a tool that that smoke tests that a deployed app is up and running

[2020-03-19 12:18] garysieling commented on #60
Made a new ticket for Selenium type testing, I think that is a good idea as well

[2020-03-19 12:19] garysieling commented on #75
Oh yeah, you're right, thanks for pointing that out

[2020-03-19 12:33] garysieling opened #86 "Test the scripts in "/script" on ubuntu"
Someone reported an issue through slack - "script/server" failed because it called "source", which did not exist in their shell (I tested the original scripts on my mac / bash).

Low priority, but would reduce the fiction onboarding some people.

[2020-03-19 12:36] themightychris commented on #85
I've really enjoyed using Cypress for this, its desktop runner UI is awesome and accessible, and it's got an excellent GitHub action

Example in the field:
- https://github.com/SlateFoundation/slate-cbl/blob/c15301bc68f4aaea7325d8faefdfefa0a4930446/.github/workflows/cypress-tests.yml#L55
 - https://github.com/SlateFoundation/slate-cbl/tree/c15301bc68f4aaea7325d8faefdfefa0a4930446/cypress/integrati

[2020-03-19 12:39] garysieling commented on #85
+1 for Cypress. Updated the description

[2020-03-19 13:16] quinn-dougherty commented on #77
https://github.com/CodeForPhilly/chime/pull/55

[2020-03-19 13:28] quinn-dougherty opened #87 "refactor sidebar"
from the comments in app.py
[code]

read my take on it here: https://github.com/quinn-dougherty/chime/blob/refactor/src/sidebar.py

if you really wanted to, you could try making it one function that returns a n-tuple of `st.sidebar.input(` calls (then destructure that tuple), but i think this is a lot worse than a single function for each `st.sidebar.input(` call.

[2020-03-19 13:39] garysieling commented on #81
Initial notes (maybe someone can add color to the first item)
- Kubernetes stuff (scaling, logging to elasticsearch)
- Implemented a standard API for scripts for executing the app ("rule them all")
- Parallel ability to deploy to Kubernetes + Heroku so users can pick what they want
- CI - gating of commits for quality checks, construction of docker container of the app

[2020-03-19 14:24] pjhoberman commented on #60
I’ll get on the unit tests today (I’m on baby duty so might be mid day
before I push anything). I’ll try to break them out so some tests get
pushed earlier. If there’s anything specific anyone wants covered earlier
let me know.

I can also help with selenium but I’ll leave that open for now so others
can join in on the fun!

On Thu, Mar 19, 2020 at 6:18 AM Gary Sieling <notifications@github.com>
w

[2020-03-19 16:06] themightychris opened #89 "only push tagged releases to container repo"
Modify the last step in `.github/workflows/dockerpublish.yml` so that it only pushed docker container images to github package repo for tagged releases

[2020-03-19 16:06] cjbayesian opened #90 "Add implied percentage daily growth rate"
In the description text at the top. In addition to having implied R0 computed and displayed, also display the implied daily percentage growth rate for both initial and mitigation cases.

[2020-03-19 16:52] sam-writer commented on #87
@quinn-dougherty I like the idea in general. I agree that each input should have its own function or method. I think that we can parametrize those functions to take `st` as a parameter, rather that having it be a global.

[2020-03-19 17:29] garysieling opened #94 "[dash] Show a version number at the top of the sidebar along with the model change date"
This would be helpful for when people report issues and simple check to verify a deployment happened.

Could hook into whatever tagging process devops works up.

[x] See streamlit

[2020-03-19 17:30] garysieling opened #96 "Release notes process"
Something like
1. Should releases be gated to have require release notes? This could be something simple like "the release notes md file changed since the last tag"
2. Should maybe be a link in the app somewhere, and/or in the github pages documentation

[2020-03-19 17:35] themightychris commented on #48
Some reading: https://github.com/GoogleCloudPlatform/continuous-deployment-on-kubernetes/blob/master/README.md

[2020-03-19 17:36] themightychris commented on #89
Fixed for now in fdf1fa67c64cd91e09151c8285e318a9dad80e9a

[2020-03-19 17:36] #89 closed, assigned to nobody

[2020-03-19 17:38] themightychris commented on #94
I've achieved this before by having the build script pass the SOURCE_SHA and SOURCE_TAG into `docker build` as build args, for `Dockerfile` to then set them as `ENV` vars in the container

The trick then is getting the app to display the `$SOURCE_TAG` env var value in the UI. I have no idea how to do that

[2020-03-19 17:39] themightychris commented on #81
How do we actually want to change the docs though to close this issue? https://codeforphilly.github.io/chime/

Most of this is already touched on. Do we just need to fill some gaps in? Add a new overview page?

[2020-03-19 17:40] lottspot opened #98 "Deploy chime 0.4.1"
Release approved in #93

[2020-03-19 17:40] lottspot commented on #98
Tag created: https://github.com/CodeForPhilly/chime/tree/v0.4.1

[2020-03-19 17:45] lottspot commented on #98
Deployment completed

[code]

[2020-03-19 17:45] #98 closed, assigned to lottspot

[2020-03-19 17:48] sam-writer opened #99 "Improve Model"
## Overview

Currently, we use a deterministic SIR model (see `sir` and `sim_sir` in [models.py](https://github.com/CodeForPhilly/chime/blob/develop/penn_chime/models.py)) to predict everything. It does not have many parameters, which I think contributes to the ease of use and adoption of the tool... however, accuracy is also of paramount importance. There have been multiple proposed improvements.

[2020-03-19 17:55] mdbecker commented on #18
@sam-qordoba I think this is a won't-fix. Can you see a reason to do otherwise?

[2020-03-19 17:56] mdbecker commented on #21
Hey @sam-qordoba I'm not sure I understand the intent of this ticket. Could you elaborate?

[2020-03-19 17:57] quinn-dougherty commented on #94
i think
[code]

[2020-03-19 17:59] briglass commented on #99
Regarding incoming infections, this simulator: http://covidsim.eu/ has an "Infections from outside of the population [per day]", which I am assuming to be accomplished via a monotonic daily increase to S, although I am not sure

[2020-03-19 18:21] soarik commented on #99
Thee seems to be two major directions:

i) Making SIR modeling more accurate: Approaches may include:
- Integrating Bayesian modeling, as in https://github.com/twiecki/covid19/blob/master/covid19_growth_bayes.ipynb
- Considering parametric modeling along with black-box ML to fit some portion of such models, as done in physics etc.: https://arxiv.org/pdf/2001.04385.pdf,
- Integrating interventions

[2020-03-19 18:22] mariekers commented on #61
If possible, make pytests that mimic these manual tests:

1. Open up the live (production) app at http://penn-chime.phl.io/
       Refresh the page to make sure no inputs are cached
2. In a second tab/window run the app locally (e.g. http://127.0.0.1:8000/)
3. Verify one by one that each of the inputs in the sidebar have not moved (unless this was an explicit part of the issue being addressed). If

[2020-03-19 18:29] MooseQuest commented on #32
Updated the original with new goals. @lottspot pushed the following: https://metrics.chime-live-cluster.phl.io/?orgId=1

[2020-03-19 18:33] machow commented on #94
I wonder if aligning a bit with some python packaging patterns could help keep things clean / predictable?

Some options I can think of...

* treat app.py conceptually as a package. either as a **single-file package**, with a `__version__="X.Y.Z"` variable at the top of `app.py`, or as a **full-on package** like `app/app.py` and `app/__init__.py`. `__version__` defined in `__init__.py`. This could

[2020-03-19 18:33] themightychris commented on #94
We shouldn't need to put it in .env, since under the container deploy it will be globally baked into the system's env

We just need the heroku and local deploys not to crash when it's missing

[2020-03-19 18:51] sam-writer opened #101 "Make current model more automatable"
[src](https://codeforphilly.slack.com/archives/CV71EUYD8/p1584642844157700?thread_ts=1584641972.156200&cid=CV71EUYD8)

This is a matter of better encapsulating the modeling code.

[2020-03-19 19:04] sam-writer commented on #21
hmmm the old penssignals issues are gone, so I can't point you to the original reporter... this was just from that time when I copied over all the old issues, so I actually don't know the point.

[2020-03-19 19:11] sam-writer commented on #18
This seems like a wont-fix to me as well. Though, as we try to make the code more modular, one goal can be `if the user imports the code to use in python, they should be able to specify R_0`

[2020-03-19 19:11] MooseQuest commented on #32
Added alert monitoring to slack channel: https://codeforphilly.slack.com/archives/C010F2Q7SNS

[2020-03-19 19:33] machow commented on #101
Hey! I told @quinn-dougherty I could quickly refactor some of the app logic to live in a class, that goes essentially from \<parameters currently entangled in UI\> -> a plot

This might also be a good first step for people experimenting with moving away from streamlit, since with this setup, streamlit will essentially just be the view-model

(Taking 30 minutes to do now)

[2020-03-19 20:12] garysieling opened #103 "Error when social distancing is set to 100%"
[code]

[2020-03-19 20:15] sam-writer opened #104 "social distancing divide by zero bug"

[2020-03-19 20:16] garysieling opened #105 "Some inputs allow negative values"
Probably not realistic for any-

![image](https://user-images.githubusercontent.com/350177/77111020-f1586a80-69fc-11ea-9f22-8dfe5c8c9f45.png)

[2020-03-19 20:16] #104 closed, assigned to nobody

[2020-03-19 20:16] sam-writer commented on #103
![image](https://user-images.githubusercontent.com/47401552/77110927-9e25ee00-69e3-11ea-8265-5557af831ba6.png)

Fixes:
* prevent the user from entering 100 in this field, set the max to 99.9 or 99.99
* fix the math to prevent division by zero

[2020-03-19 20:28] selahlynch commented on #25
I'm going to attempt this one...

[2020-03-19 20:46] themightychris opened #107 "Add GTM snippet"
Adding this GTM snippet will serve both for #78 and the need for frontend error capture, by letting us deploy an update to the frontend once and then manage adding/removing frontend embeds from Google's console. The price for this is letting Google collect all the data about all the things, but they were going to do that anyway if we're adding GA.

Add to top of `<head>`:

[code]

Add to top of `<

[2020-03-19 20:50] themightychris commented on #78
We should do this via #107 . DM me a google account on slack to get added to the GTM container

[2020-03-19 20:55] quinn-dougherty opened #108 "Replace use of multiple vectors with dataframes"
@jlubken added description here. Feel free to change

Use sim_isr_df instead of sim_sir.
Replace vector dispositions with a dataframe.
Simplify chart builders since the columns are known.

[2020-03-19 21:27] josh-bluewater opened #109 "Fix https://codeforphilly.github.io/chime/CONTRIBUTING.html to reflect new PR process"
Doc currently shows older info requesting contributers to
* "Base all work on the latest master branch available in Code for Philly's fork of the chime repository.
* Submit your work in the form of a pull request against that same branch."

[2020-03-19 21:38] mariekers opened #110 "Separate defaults"
Take global variables that represent “defaults” to be pulled into object that represents defaults

Done: "default.\*" object that holds the default values to be fed into the widgets

[2020-03-19 21:39] mariekers opened #111 "Widget values in single object"
Collect output of all widgets into single object representing inputs into model
  - eg. Streamlit functions (not including markdown)

Done
 - "control.\*" object that holds the outputs of the widgets to be fed into the models.

dependent on #110

[2020-03-19 21:40] mariekers opened #112 "Update model parameters"
Update model calls to use parameters from Defaults and Parameters instead of the original global variables. The Defaults and Parameters objects are from #111 and #110

Done:
 - "model.\*" object that holds DataFrames output from the Models rather than passing multiple pieces of related information (ei. s, i, and r vectors).
 - Feed "control.\*" and "model.\*" into the Charts, Have the Charts produ

[2020-03-19 21:41] themightychris commented on #109
This was recently fixed in #100 and will be reflected in the published docs after we merge #95

[2020-03-19 21:41] #109 closed, assigned to nobody

[2020-03-19 21:41] mariekers opened #113 "Separate content from dash"
Remove content (markdown, references) from dash py into own object
depends on #110 #111 and #112

[2020-03-19 21:42] hakocon commented on #99
I really like the idea of social distancing (or I was also thinking population density as a proxy based on ZIP or something like that). Also, would it be valuable to bring in the age distribution of a location? This is specifically dangerous for older folks, so locations with a higher number of elderly might see different distributions of acute/critical care patients than those with lower numbers.

[2020-03-19 21:43] mariekers commented on #61
May need to be broken out into separate issues - possibly dependent on model refactor to separate from UI

[2020-03-19 22:00] selahlynch commented on #25
One approach - pure frontend javascript - however it seems to be impossible to add custom javascript to a streamlit app :/
https://github.com/streamlit/streamlit/issues/969

[2020-03-19 22:02] mariekers opened #114 "Render with new objects"
done: Have a render that takes default, control, model and view objects

Depends on #112

[2020-03-19 22:03] mariekers opened #115 "Unit test new SimSirModel object"
Add unit tests for SimSirModel object

[2020-03-19 22:04] mariekers commented on #115
Include manual tests done by Penn:

1.     Open up the live (production) app at http://penn-chime.phl.io/
2.     Refresh the page to make sure no inputs are cached
3.     In a second tab/window run the app locally (e.g. http://127.0.0.1:8000/)
4.     Verify one by one that each of the inputs in the sidebar have not moved (unless this was an explicit part of the issue being addressed). If the issue

[2020-03-19 22:04] #61 closed

[2020-03-19 22:05] mariekers commented on #61
Tests will be implemented in #115

[2020-03-19 22:14] sam-writer commented on #99
@hakocon demographics seem very important, I agree, and that is probably just an API call away.

Population distancing as a proxy for social distancing, however, I feel like that assumption could be very wrong - e.g. San Fransisco, with it's shelter in place order, vs somewhere in rural Alaska which, as of today, [has a Representative who is saying](https://www.adn.com/politics/2020/03/19/rep-don-

[2020-03-19 22:17] sam-writer commented on #25
@selahlynch reading [this SO question](https://stackoverflow.com/questions/58795731/how-to-send-data-to-streamlit-from-javascript) I get the feeling that you can jam some JS in there, but it doesn't interact with streamlit. What was the JS solution you were thinking of?

Similar to how we add raw CSS [here](https://github.com/CodeForPhilly/chime/blob/develop/penn_chime/presentation.py#L6), could w

[2020-03-19 22:34] themightychris commented on #25
Well if we're using Puppeteer to generate the PDF, we can arbitrarily manipulate the page or inject code at that layer. So for changes we want to make only in print, we don't really need to figure out how to add them into Streamlit since we only need them present during the printing session in our backend.

To use puppeteer, we could either develop our own NodeJS app within the repo, or use the CL

[2020-03-19 22:36] themightychris commented on #85
This script shared to inform unit test design, could also be v1 of our end-to-end testing: https://github.com/CodeForPhilly/chime/issues/61#issuecomment-601340421

[2020-03-19 23:00] mishmosh opened #117 "Test issue"
testing project board automation.

[2020-03-19 23:05] sam-writer commented on #25
@themightychris regardless of NodeJS or CLI, won't this need to be a separate process that runs on demand? Or are you thinking of calling to the CLI via python's `os` module?

[2020-03-19 23:13] themightychris opened #118 "Self-host CSS file"
The app currently embeds a hotlink to `https://www1.pennmedicine.org/styles/shared/penn-medicine-header.css`

Could we copy the needed bits of this into the project and hosted it out of `/static/` somehow so we're not hitting pennmedicine.org from every instance we run?

[2020-03-19 23:16] themightychris commented on #25
I don't know the state of Python->puppeteer(or other) bindings. But shelling out to a node process is def an option, and puppeteer (via node) offers the deepest + cleanest interaction with Chromium engine I've ever seen

FYI over in #116 I think we just tested your question @sam-qordoba about can we embed JS that way and it seems that it does not work.  See also https://github.com/streamlit/stream

[2020-03-19 23:28] sam-writer commented on #25
there is the most absurd workaround provided in [this thread](https://discuss.streamlit.io/t/are-you-using-html-in-markdown-tell-us-why/96/25)

My understanding is:
1. Streamlit builds static HTML and puts them... somewhere findable
2. We write code to put the JS/CSS we need in the same place
3. We write markdown containing HTML that points to the files

:sob:

[2020-03-19 23:33] sam-writer commented on #25
I was thinking more about puppeteer and I don't think it can work, if I'm understanding it right. because the user wants to download the app *in the state it is in, currently, in their browser*. `st` doesn't expose the state in the URL or anything, so we can't transfer that state over to the puppeteer process on the server, AFAICT

[2020-03-19 23:42] themightychris commented on #25
Yeah I was thinking about that, we'd need to:

1. capture the state of all the inputs in the client side
2. send it along with the PDF request to some service that will invoke Chromium
3. input the state to the headless version of the app
4. hack up the page as needed for printing

I know we can do 2-4, 1 seems like we're back to needing to inject javascript into Streamlit

So it seems like our be

[2020-03-19 23:47] themightychris commented on #94
@machow having the version number inside the repo content makes a lot of things tough, since we have to keep updating the repo content to designate versions instead of just creating git tags. Could those code spots or variables just pull from the environmental value possibly?

[2020-03-20 00:03] ecsmyth commented on #86
`script/server` fails on Ubuntu . Changing the shebang to `#!/usr/bin/env bash` works and is likely preferable for portability across distributions.

[2020-03-20 00:27] ecsmyth opened #119 "Add pytest to `Pipfile` so it doesn't need to be installed separately"
`dev-packages` section of the Pipfile is currently empty. Adding the `pytest` package here will ensure that it is installed with the other packages by a `pipenv install`. Application development documentation should also be updated to remove this step (or limit it to contributors using `virtualenv`)

[2020-03-20 01:03] themightychris commented on #107
Next idea: https://stackoverflow.com/questions/19700871/how-to-inject-custom-content-via-nginx

We've confirmed that ingress-nginx has this module, and we already know we can inject arbitrary nginx `location` blocks via the Ingress definition...

[2020-03-20 01:06] mishmosh opened #121 "templates for PRs and issues"
@mariekers wishes for this. What info should we prompt people to include? Possible ideas:

#### PRs:
- Proposed changes
- Which issue it closes

#### Issues:
(can do multiple types, which show up as option buttons with a description when you click "New Issue")
- Bug report
- Feature idea
- Story

More ideas here: https://github.com/stevemao/github-issue-templates

[2020-03-20 01:25] mariekers commented on #121
How's this for issue template:

[code]

[2020-03-20 01:26] #14 closed

[2020-03-20 01:35] MooseQuest opened #126 "Pre production environment for both ops and app testing."
The preproduction environment should resemble the production environment. It's first phase should be run up just like the production. Iterations of software and testing can occur there. Suggesting the following:

- [x] Run up new cluster
- [x] Document how to get started
- [x] Follow guide laid out in [chime-live-cluster](https://github.com/CodeForPhilly/chime/blob/develop/docs/operations/chime-li

[2020-03-20 01:41] #119 closed, assigned to ecsmyth

[2020-03-20 02:55] MooseQuest opened #129 "Templates and docs for Operations Procedures"
Will need to outline where to put After Action Review(s) (AAR) for production issues, and what runbooks are needed to resolve issues quickly.

[2020-03-20 02:59] pjhoberman commented on #60
- [x]  add to `test_sir` including edge cases. Ensure things that shouldn't work don't work (like negative numbers in some spots) -- #132
- [x] add more tests around `sir` function - need guidance from others on what should break it -- #151
- [x] add to `test_sim_sir`including edge cases. Ensure things that shouldn't work don't work (like negative numbers in some spots) -- #151
- [ ] add to `test_

[2020-03-20 03:00] pjhoberman opened #132 "Add to `test_sir`"
Add to test_sir including edge cases. Ensure things that shouldn't work don't work (like negative numbers in some spots)

[2020-03-20 11:38] lottspot opened #135 "Manifests must reflect current cluster state"
There is currently some drift between the manifest files and the desired cluster state. This cannot be the case.

[2020-03-20 11:41] mishmosh commented on #85
First PR is #128.

[2020-03-20 12:36] #86 closed, assigned to ecsmyth

[2020-03-20 12:56] mariekers commented on #25
Not sure if it'll need to be refactored if we move off of streamlit - don't want any work to go to waste.  Maybe we should pause this until 2.0 is done?  I trust @sam-qordoba 's judgement

[2020-03-20 12:59] mariekers commented on #66
@lottspot guessing this is done?

[2020-03-20 13:01] mariekers opened #137 "update repo link on app to cfp"
Done: ` Code can be found on Github.` directs to https://github.com/CodeForPhilly/chime

[2020-03-20 13:09] mariekers opened #138 "Update heroku version"
Done: heroku version is up to date

[2020-03-20 13:10] mariekers opened #139 "Document fallback procedure"
Create documentation for the fallback to heroku procedure

- assuming you want this in gitbook?

[2020-03-20 13:11] mariekers opened #140 "Access to DNS"
Identify and grant access to phl.io DNS

[2020-03-20 13:19] mariekers opened #141 "Bind develop branch to heroku instance"
bind `CodeForPhilly/develop` to `chime-staging.herokuapp.com` so prod can be more frozen

[2020-03-20 13:21] lottspot commented on #66
Not yet, sorry... should be able to complete it this morning

[2020-03-20 13:24] mariekers commented on #74
@MooseQuest do y'all get alerts if the site is down?

[2020-03-20 13:34] mariekers commented on #107
Would it be good to wait till the replatforming?  As much as I dislike not collecting this data ASAP

[2020-03-20 14:28] lottspot commented on #66
Pending review in #144

[2020-03-20 14:29] lottspot commented on #141
is this the same issue as #66?

[2020-03-20 14:30] lottspot commented on #139
This is a duplicate of #129

[2020-03-20 14:30] #139 closed, assigned to nobody

[2020-03-20 14:32] lottspot commented on #129
Some procedures to document:

* Falling back to Heroku
* Rolling back a production release
* Resolving certificate issues (?)

[2020-03-20 14:33] lottspot commented on #135
Pending review in #136

[2020-03-20 14:34] lottspot commented on #141
I'm gonna go ahead and close this in favor of #66 since, as far as I can tell, the work being done there addresses this

[2020-03-20 14:34] #141 closed, assigned to nobody

[2020-03-20 15:01] MooseQuest commented on #129
The certificate issues should explain how the certs I guess "work" but also how to ensure the right domain is pointed on the host. We patched, but never put it back in the documentation. @asauber (slack) I think PR'ed that last night.

[2020-03-20 15:02] mariekers commented on #43
This would be in the gitbook doc - the one for end users

[2020-03-20 15:23] quinn-dougherty commented on #137
i sneaked this in in https://github.com/CodeForPhilly/chime/pull/122

[2020-03-20 15:23] #137 closed, assigned to nobody

[2020-03-20 15:25] MooseQuest commented on #74
We have something ad-hoc setup. I also setup an alerts channel for chime-ops that uses webhooks. I'll be updating that for easy things today, and then slowly building in more comprehensive things.

[2020-03-20 16:01] Mdraugelis opened #145 "Allow users to fix y-axis"
To enable reporters to compare scenarios they need to be able to fix the y and x axis.

[2020-03-20 16:01] mdbecker commented on #90
@cjbayesian can you add sample code for this?

[2020-03-20 16:03] #132 closed, assigned to pjhoberman

[2020-03-20 16:10] jlubken commented on #108
sim_sir_df function has been added. Has not been integrated and used by the charts, etc.

[2020-03-20 16:10] Mdraugelis opened #146 "Allow a user to save parameter settings"
Health systems are creating daily reports for multiple hospitals with multiple scenarios.  This can take 1 - 2 hours and when done manually increases the risk of error.

A user should be able to save their settings so they can share them with others and reuse them later.

[2020-03-20 16:12] Mdraugelis opened #147 "Users should be able to toggle between days and dates that appear in graphs and tables"
The user should be able to enter in the day 0.  Not necessarily the current day.  This will allow teams to understand their past projects as well as understand where they are in the curve.

Some users want to communicate day zero plus a number of days and some users want dates.

For Penn Medicine internal leadership only wants to see dates. This then requires the analyst to translate the days into

[2020-03-20 16:13] asauber commented on #129
Here's some documentation on how to add some flexibility during a cutover in the form of code. https://github.com/CodeForPhilly/chime/pull/148

[2020-03-20 16:15] mariekers commented on #147
Is this duplicated in #56 ?  I can close that one if so

[2020-03-20 16:19] MooseQuest commented on #74
Added monitor for website up to slack chime-ops-alerts

[2020-03-20 16:22] Mdraugelis commented on #25
Hi team,
This is a great thread.  Could I tag up @mariekers.  An exported report could be really beneficial.  But before you do any more work lets chat.  I have some feedback after presenting reports for the past week.

[2020-03-20 17:02] machow commented on #114
(Copying here from slack channel, in case streamlit and dash examples are useful. )

I would caution against adding render functions, for two reasons:

* they are largely dashboard library specific
* in many libraries the render part is very simple to specify

For example, in streamlit, using PR #106, the render is two lines of non-streamlit code, and 2 lines of streamlit...

[code]

In dash the s

[2020-03-20 17:03] nickcanz commented on #145
@Mdraugelis could you provide a little more detail? I'm guessing this means the ability to set a max Y value to a number that they input. Should it be one input that goes across all the graphs?

[2020-03-20 17:24] nickcanz commented on #146
I don't _think_ we're able to do this with the current version of streamlit. There is an open PR on streamlit to add functionality to accomplish this, but it is unmerged: https://github.com/streamlit/streamlit/pull/1169

[2020-03-20 17:27] Mdraugelis commented on #147
Good catch @mariekers .  I would add an additional user need.  Can you close the other #56  task?

[2020-03-20 17:46] selahlynch commented on #99
Are daily counts of COVID related hospital/ICU bed usage at Penn Medicine or another hospital system available?  If so we can use this to test some of the models.

[2020-03-20 18:21] #135 closed, assigned to lottspot

[2020-03-20 18:35] MooseQuest commented on #126
Need to make sure the new docs @lottspot wrote up can spin up in preprod, and then we can close this issue out.

[2020-03-20 18:36] MooseQuest commented on #74
This is complete:

https://status.penn-chime.phl.io

Down alerts can be found in the chime-ops-alerts channel.

[2020-03-20 18:36] #74 closed

[2020-03-20 19:02] #117 closed, assigned to nobody

[2020-03-20 19:02] quinn-dougherty opened #149 "de-implement streamlit caching"
it turns out empirically that caching isn't a value-add, and is in fact slowing the app down. let's remove it.

[2020-03-20 19:08] quinn-dougherty commented on #103
i piggybacked this in https://github.com/CodeForPhilly/chime/pull/143

[2020-03-20 19:08] #103 closed, assigned to nobody

[2020-03-20 19:22] jlubken opened #150 "Extract model calculations from app"
Refactor to display_sidebar and push calculations into Parameters class in models.py

[2020-03-20 20:21] mishmosh opened #152 "Collect FAQs from Slack"
Collect FAQs from Slack into a spreadsheet, so they can later be incorporated into user docs.

[2020-03-20 20:23] mishmosh commented on #152
Nevermind, in the few hours btwn when I read about this on Slack and now, this switched to working directly into the user docs.

[2020-03-20 20:23] #152 closed, assigned to nobody

[2020-03-20 20:43] ckoerber commented on #147
It seems to me that the including this feature can be realized in a straightforward way by adding a `date` column to used data frames, e.g.,
[code]
where adjusting `datetime.now()` could in principle be replaced with an arbitrary string (and some date shift logic which requires data-time awareness).

I am uncertain, where it might be most useful to include this:

1. Either one might add the new co

[2020-03-20 21:09] quinn-dougherty commented on #147
thanks @ckoerber . I have no preference whether you put it in the func `-> Chart` or the func `-> DataFrame`. But unless you can verify there are no bugs anywhere in the chain putting it in `build_census_df`, go for putting it in `presentation.py`.

[2020-03-20 21:32] #150 closed, assigned to jlubken

[2020-03-20 21:33] ecsmyth opened #155 "[bug] Incorrect doubling time for social distancing values above 63%"
### STR
1. Load CHIME (https://penn-chime.phl.io/)
2. Set `Social distancing (% reduction in social contact)` to a value below 64 while leaving other values at the default.
2. Repeat step 2 with a value above 63

### Observed
Doubling times are negative when the social distancing value is greater than 63%

Social Distancing (%) | Doubling Time (days) | Rt
-- | -- | --
0 | 6 | 2.71
25 | 9.7 | 2.04

[2020-03-20 21:36] #110 closed, assigned to quinn-dougherty

[2020-03-20 21:36] #111 closed, assigned to jlubken

[2020-03-20 22:09] quinn-dougherty commented on #112
update: model will not be a _class_, it will be a _function_ signed `Parameters -> DataFrame`. The Parameters object is defined in https://github.com/CodeForPhilly/chime/pull/154 models.py

[2020-03-20 22:15] jlubken opened #156 "Remove beta_decay"
beta_decay isn't needed anymore due to the improved social distancing. Remove it from the Default, Parameters, and settings.

@sam-qordoba Has some additional changes to roll in here.

[2020-03-20 22:18] jlubken opened #157 "Extract display_sidebar into presentation."
dispay_sidebar was left inside app.py to prevent wip from breaking.

Move it into presentation.

[2020-03-20 22:22] jlubken opened #158 "Refactor presentation functions"
Cleanup presentation functions to use Parameters object (p) instead of the bucket-o-parameters lists that will be difficult to maintain.

Add type annotation to the functions, so that editors/linters/ide notice discrepancies between the Parameters class definition and the properties used in each renderer.

Wait for #157

[2020-03-20 22:25] ScottWorks commented on #149
will take a crack at this

[2020-03-20 22:59] kochizufan opened #159 "Implement i18n functions"
Hi,

I didn't realize that the main development is ongoing under this repository not [pennsignals](https://github.com/pennsignals/chime), so I submitted [i18n PR](https://github.com/pennsignals/chime/pull/80) to pennsignals by mistake.

I can do some modifications to my code and re-submit it to this repository if need, but I want to ask:

1. I18n function is still needed?
2. My approach for resour

[2020-03-20 23:14] quinn-dougherty commented on #145
@nickcanz  i think setting max y value makes sense.

please add an `int` to the chart function input that's defaulted `None`, and if it isn't None when you `.encode(` pass in `y=alt.Y('<column>', scale=alt.Scale(max=<int> ` something like this

[2020-03-20 23:17] mishmosh opened #160 "Onboarding new contributors"
Starting an overview and discussion of new contributor experience. Comments welcome!

#### 1. When interested new contributors come to this project they need:
- Enough info on the project's purpose impact to know whether it's a good match for them
- How to get started
- What to work on

#### 2. Likewise, the project needs to get more benefit than friction:
- Funnel energy to high-priority work
- C

[2020-03-20 23:49] quinn-dougherty commented on #159
thanks @kochizufan! let's stay in touch. Streamlit is really restrictive, i don't have a background in i18n, but I don't know if we can get streamlit to support it.

We haven't talked a lot about translation, but it's a really good idea.

we're prototyping an alternative to streamlit. the best way to stay tuned is to join our slack https://codeforphilly.org/chat?channel=covid19-chime-penn

[2020-03-21 00:03] mishmosh opened #161 "End user docs"
- [x] Draft end user documentation
- [x] Get Penn team review
- [x] Revise as needed
- [x] Publish

[2020-03-21 02:49] jlubken commented on #105
Handled by #142

[2020-03-21 02:49] #105 closed, assigned to nobody

[2020-03-21 04:19] bharathkkb commented on #48
@themightychris @lottspot if no one has started on this, i can help.

[2020-03-21 12:02] ckoerber commented on #147
PR is out. Let me know if this matches expectations.

[2020-03-21 12:46] #156 closed, assigned to jlubken

[2020-03-21 12:54] #157 closed, assigned to nobody

[2020-03-21 13:26] quinn-dougherty commented on #114
I think that this issue can't be done in a dashboard-agnostic way.

edit: i flatly can't imagine how rendering could _possibly_ be done in a platform-agnostic way.

[2020-03-21 14:17] quinn-dougherty commented on #155
![Screenshot from 2020-03-21 10-17-17](https://user-images.githubusercontent.com/39039420/77228366-2bd91900-6b5d-11ea-96b5-101580049c02.png)

[2020-03-21 14:22] quinn-dougherty opened #166 "input validation in parameters object"
fixes TODOs in the `Parameters` class definition.

i'd really like to implement this design pattern https://youtu.be/S_ipdVNSFlo?t=2153

but there are other priorities.

[2020-03-21 14:43] quinn-dougherty opened #167 "new file tree"
tree should be
[code]

[2020-03-21 14:44] themightychris commented on #167
Could the first one be `src/` ?

[2020-03-21 14:48] quinn-dougherty commented on #167
maybe. i'm deferring to @sam-qordoba based on a discussion we had about this.

if we eventually want the backend to be pip-installable, the tree i listed is better

[2020-03-21 15:15] quinn-dougherty opened #168 "The user should be able to enter in the day 0. Not necessarily the current day."

[2020-03-21 15:15] quinn-dougherty commented on #147
This is a different issue than 147's issue name.

i filed https://github.com/CodeForPhilly/chime/issues/168 for this.

[2020-03-21 15:15] #147 closed, assigned to nobody

[2020-03-21 15:41] #145 closed, assigned to nobody

[2020-03-21 16:05] jlubken opened #171 "Add cli"
Add cli.

Use a parsed text settings file.

[2020-03-21 16:19] #171 closed, assigned to jlubken

[2020-03-21 16:33] jlubken opened #172 "Integrate settings.cfg to be used by the app"
Consider how settings come from a file and may then be overridden by url query parameters (#146 ).

Rework the defaults.py to incorporate:
- the settings.cfg instead of the settting.py
- maybe move the settings.cfg parser into classmethods of defaults.py
- the bounds validation that is duplicated between the cli argument parser and the ui widgets
- possibly make the Defaults/Constants object own t

[2020-03-21 16:34] quinn-dougherty commented on #167
nvm, first one is gonna be `src`

[2020-03-21 17:08] #167 closed, assigned to nobody

[2020-03-21 17:27] pjhoberman opened #173 "defaults.py AttributeError: __repr__ references self.region.s"
It looks like the `__repr__` function in `defaults.py` is referencing an attribute that no longer exists. Steps to reproduce below. Likely fix is just refactoring the return to use `self.region.susceptible` instead of `self.region.s`

[code]

[2020-03-21 17:44] #173 closed, assigned to nobody

[2020-03-21 17:50] jlubken commented on #146
@Mdraugelis There is a cli that takes a `--file` option to read settings from a file. It doesn't generate png graphs, but it does output csvs.

[2020-03-21 18:59] #161 closed, assigned to mdbecker, mariekers

[2020-03-21 19:09] #149 closed, assigned to nobody

[2020-03-21 19:20] pjhoberman opened #179 "Tests around charts"
- [x] add to `test_new_admissions_chart` - find a way to break the chart and make sure the test captures that
- [x] create `test_admitted_patients_chart` and follow same patterns as `test_new_admissions_chart`

_Originally posted by @pjhoberman in https://github.com/CodeForPhilly/chime/issues/60#issuecomment-601504958_

[2020-03-21 19:29] jlubken commented on #112
Sounds good to me!

[2020-03-21 20:41] kmid5280 commented on #118
@themightychris I'd be happy to give this one a try.

[2020-03-21 21:20] mdbecker opened #181 "Add CHIME to helpwithcovid.com"
We're not on https://helpwithcovid.com/projects?query=

Add CHIME to the list of projects.

[2020-03-21 21:25] quinn-dougherty commented on #181
Can this wait? i think in a few days our PMing and codebase will be in a better spot to handle the influx of volunteers.

i'm on a helpwithcovid.com project when i'm not working on this, and it's slammed at like 15 new participants per day --- it's good for some projects, but not where we're at at the moment.

i think this should be reopened when we're off streamlit

[2020-03-21 23:41] quinn-dougherty commented on #158
closed https://github.com/CodeForPhilly/chime/pull/182

[2020-03-21 23:41] #158 closed, assigned to nobody

[2020-03-21 23:44] quinn-dougherty commented on #112
https://github.com/CodeForPhilly/chime/pull/182

[2020-03-21 23:44] #112 closed, assigned to nobody

[2020-03-21 23:58] mdbecker commented on #168
Hey @quinn-dougherty let's chat about this, I think this was a miscommunication.

[2020-03-22 00:11] mariekers commented on #94
Can the version # also be a link to the release notes?

[2020-03-22 00:57] quinn-dougherty commented on #168
there is a tradeoff between more options and more cluttered UI that should be considered.

[2020-03-22 01:45] #179 closed, assigned to pjhoberman

[2020-03-22 01:53] quinn-dougherty commented on #113
i think this has been done by osmosis through other merges. @jlubken  what do you think is there anything you'd like to see or should we close this?

[2020-03-22 01:55] quinn-dougherty commented on #114
I feel like we've done as much as we can. @jlubken  let me know if you'd like to see anything else from this issue, otherwise we'll close it

[2020-03-22 02:17] quinn-dougherty commented on #114
spurred by @machow 's idea
[code]

[2020-03-22 02:26] quinn-dougherty commented on #60
When can we close this? it's a really broad issue

[2020-03-22 02:28] quinn-dougherty commented on #101
CLI in https://github.com/CodeForPhilly/chime/pull/170

[2020-03-22 02:30] quinn-dougherty commented on #101
i think between recent modularization and the CLI and the scope of this issue, we can close.

[2020-03-22 02:30] #101 closed, assigned to nobody

[2020-03-22 02:39] quinn-dougherty commented on #4
thru various PRs, everything discussed in this issue has been done but pip-installability.

there's still opportunity for someone to make those final pushes to `pip install chime`

but we're just about fully modularized

[2020-03-22 02:41] quinn-dougherty commented on #87
done https://github.com/CodeForPhilly/chime/pull/154

[2020-03-22 02:41] #87 closed, assigned to nobody

[2020-03-22 02:45] kochizufan commented on #159
Hi @quinn-dougherty ,

Thank you for a reply,
I already joined Slack, but sorry, I may/will overlook many things cause I'm not a native English speaker...

According to your last reply, I understand that you may change the program framework from streamlit to something else.
If so, it may be too early to discuss i18n features.

If so, how about starting with translating a document?
https://code-for

[2020-03-22 02:49] quinn-dougherty commented on #10
I can't get ubuntu screenshots to capture it, but a warning pops up preventing `hospitalizatiions` from being zero.

Currently Known Regional Infections = 0 does not crash the app.

[2020-03-22 02:49] #10 closed

[2020-03-22 02:51] garysieling commented on #60
I think it makes sense to resolve it and make smaller tickets for whatever is left- I can take a look at doing that tomorrow

[2020-03-22 02:55] pjhoberman commented on #60
That last push was all I needed out of this ticket. I think further tickets
are a great idea.

On Sat, Mar 21, 2020 at 8:51 PM Gary Sieling <notifications@github.com>
wrote:

[2020-03-22 02:57] garysieling commented on #60
Great - I'll close this now and make tickets if there was anything I was hoping for that isn't covered

[2020-03-22 02:57] #60 closed

[2020-03-22 03:01] quinn-dougherty commented on #77
done (various PRs)

[2020-03-22 03:01] #77 closed

[2020-03-22 03:03] quinn-dougherty commented on #56
closed https://github.com/CodeForPhilly/chime/pull/165

[2020-03-22 03:03] #56 closed

[2020-03-22 03:06] quinn-dougherty commented on #42
to be clear, the fix is to rename `app.py` to `chime.py` -- at least while we're on streamlit.

[2020-03-22 14:01] quinn-dougherty opened #186 "we claim that it can run on python2 but we use keyword-only arguments"
keyword-only arguments in parameters.py. keyword-only arguments are a python3 feature.
[code]

in docs we claim python 2.7 is viable https://github.com/CodeForPhilly/chime/blob/develop/docs/contributing/app-dev.md

**in favor of keeping keyword-only arguments and dropping python2.7**
- we like keyword-only arguments
- python2.7 is officially over, technically
- anyone using the CLI or running loca

[2020-03-22 14:03] quinn-dougherty commented on #166
https://gist.github.com/quinn-dougherty/db010bf462b68a9c7a2104dadfe5ae78

[2020-03-22 14:04] cjbayesian commented on #99
We need to have an improved way to estimate current # infected. I like the approach taken here: https://github.com/jwrichar/COVID19-mortality/blob/master/State-wise%20Unreported%20COVID-19%20Cases%20in%20the%20U.S..ipynb

[2020-03-22 14:08] cjbayesian commented on #94
Would it be possible to also let users go back to previous versions? Like if they click the version number they get the release notes, but can also scroll back to a previous version interact with that instead?

[2020-03-22 14:13] cjbayesian opened #187 "Census should not start from 0"
Currently, the census is computed by accumulating a proportion of _new_ cases, and discharging them after 'length of stay'. This does not account for the currently hospitalized cases, as can be seen by this example of setting current hospitalized cases to 4000:
![image](https://user-images.githubusercontent.com/1396669/77251583-850c7f80-6c25-11ea-987f-bb0860838206.png)

The initial model assumed t

[2020-03-22 14:16] themightychris commented on #94
Possible, yes, but a huge and extremely complicated effort given the nature of this application. Folks with a working knowledge of git can do that running their own local instance

[2020-03-22 14:25] themightychris commented on #118
@kmid5280 our initial research for #107 determined this probably isn't office t to do application-side under streamlit, it sounds like we'd need to do something at the load balancer level

Streamlit _might_ get replaced soon so it's probably best to give that effort a couple days to pan out before putting in too much work on a workaround

[2020-03-22 14:37] themightychris commented on #186
FWIW, I copy+pasted that requirement info from Streamlit's docs with no intention or understanding of the implications

[2020-03-22 19:27] mdbecker commented on #155
As stated, this is not a bug. Closing.

[2020-03-22 19:42] mdbecker commented on #146
Updated the ticket to make it more about the use case and less about the solution. I'm not sure if this changes anything but please take a second look @nickcanz and @jlubken

[2020-03-22 23:14] PhilMiller commented on #187
I'm starting on this. If no one else has done so already and waves me off, I'll try to have a PR posted this evening.

[2020-03-23 00:05] cjbayesian opened #189 "Fix calculation of daily new infections"
Current daily new infections are being calculated as $I_{t+1} - I_{t}$, which doesn't account for the infected cases transitioning into recovered during that time step. The calculations should be $I_{new} = (I_{t+1} - I_{t}) + (R_{t+1} - R_{t})$

[2020-03-23 00:30] cjbayesian commented on #189
https://github.com/CodeForPhilly/chime/blob/7f7e33e2605ff280a100cd4eb4c69684ffba9725/src/penn_chime/models.py#L88

[2020-03-23 00:30] cjbayesian commented on #189
Not apples to apples, but here is the fixed output on the pre-refactored code:
![image](https://user-images.githubusercontent.com/1396669/77268363-03940c00-6c7c-11ea-83cd-4f47ed9174e5.png)

[2020-03-23 00:31] cjbayesian commented on #189
Working on getting the fix implemented on refactored code.

[2020-03-23 02:21] pjhoberman commented on #75
Is the main ask here just to clean up the codebase so the linter passes, or passes with fewer errors?

[2020-03-23 02:27] garysieling commented on #75
Passes, so that it can be more aggressive (the assumption being that will catch some number of defects in the future)

[2020-03-23 03:15] mariekers commented on #186
so the ticket should be updating the docs stating that the app requires python 3.7 (it's a requirement in the pipfile) ?

[2020-03-23 03:19] mariekers commented on #146
This might be more feasible once we move off of streamlit - should we wait for that? we can make a plan on how to switchover once the new tool is decided

[2020-03-23 03:52] pjhoberman commented on #17
I took a stab at this. Let me know if this is the right direction / feel free to throw it out and start fresh.

https://github.com/CodeForPhilly/chime/pull/191

Features:
- If the max is the last day of the chart, there's a note added that the max might be beyond the chart
- It switches between day and date with the chart
- Testing is included!

Issues:
- The date formatting is hardcoded, not i18n

[2020-03-23 03:55] pjhoberman commented on #75
Heard. I will try to tackle early this week, but if anyone else wants it first, please have at it.

[2020-03-23 06:32] PhilMiller commented on #187
Ok, I took time looking at #190 and figuring out testing, so no code tonight, just thoughts.

One way to do this is to treat the input "Currently Hospitalized" as 'hidden' admissions on day 0. Since the chart won't show day 0, but the census will include them in the `cumsum()`, they'll at least be present in the presented count. This is slightly wrong, as a weakened form of the now-invalid very-ea

[2020-03-23 09:05] ckoerber commented on #17
Not sure if this captures what is needed: it might be possible to get localized dates by casting date time objects to strings using `babel.dates.format_date`.

https://stackoverflow.com/a/32785195

[2020-03-23 10:53] mdbecker commented on #187
Sounds perfect @PhilMiller. We're going to push our a fix to #190 immediately but once you've fixed this we'll push out another release. Thanks!

[2020-03-23 11:14] mdbecker opened #193 "Enforce black"
Setup [black](https://github.com/psf/black) for the repo to keep all the code properly formatted. I'm not sure if this is something we can do with Actions but if so that might be desirable.

Refactor source file a few at a time to avoid huge merge conflicts.

[2020-03-23 11:26] #189 closed, assigned to cjbayesian

[2020-03-23 12:42] jlubken opened #195 "Fix incorrect vectors and cli"
I suspect that these vectors are incorrect and hopefully unused:
- parameters.hospitalized_v
- parameters.icu_v
- parameters.ventilated_v

Fix cli.

[2020-03-23 16:48] PhilMiller opened #196 "Put date of model/forecast updates in header"
Users need to be able to tell when their previous reports need to be re-run to account for changes in the calculations. A date showing the last update to the modeling and forecasting code would support that.

[2020-03-23 16:50] PhilMiller commented on #196
Notes regarding this need should be apparent in at least the following places:

- CONTRIBUTING.md
- Comments in headers of relevant computation files
- Pull request templates

[2020-03-23 16:55] PhilMiller commented on #189
Please add the 'models' label to this, so I can link to https://github.com/CodeForPhilly/chime/labels/models in the app header, and have it reflect the list of changes

[2020-03-23 16:57] pjhoberman commented on #17
I feel like the i18n / l10n might be captured in another issue, so maybe not a big deal for this branch. #159?

[2020-03-23 17:09] pjhoberman commented on #17
@sam-qordoba would love your input if this branch accomplishes what your goals here.

[2020-03-23 17:18] PhilMiller opened #198 "cli.py fails to run"
I see at least an import error and attempted division of `NoneType / NoneType`

[2020-03-23 17:22] PhilMiller commented on #198
The latter is because of missing settings for required arguments. I'll leave that be for now.

[2020-03-23 17:23] mdbecker opened #199 "Expand max days past 200"
Let's set the max to 400 days and see if that addresses these issues.

[2020-03-23 17:49] pjhoberman commented on #75
[code]

[2020-03-23 18:07] mariekers opened #202 "remove contact links for app - replace in end user docs"
Remove links to contact Penn from the app itself - direct folks to the docs instead (https://code-for-philly.gitbook.io/chime/)

[2020-03-23 18:17] asalil opened #203 "Census does not include current hospitalizations"
Why does the day 0 not include current hospitalizations? For example, if I put in 4 currently hospitalized COVID-19 patients at the top of parameters, that doesn't show up in the Census numbers.

[2020-03-23 19:11] #196 closed, assigned to PhilMiller

[2020-03-23 19:13] #198 closed, assigned to nobody

[2020-03-23 19:19] kmid5280 commented on #202
I'll see if I can tackle this one.

[2020-03-23 19:20] cjbayesian commented on #155
Spoke with @ecsmyth and clarified his intention with this issue:

[code]

[2020-03-23 19:57] #199 closed, assigned to nobody

[2020-03-23 20:10] PhilMiller commented on #203
This is a duplicate of #187. My fix was just posted for review.

[2020-03-23 20:10] PhilMiller commented on #195
I think I addressed this as part of #200.

[2020-03-23 20:18] jordanclark397 opened #207 "Tabular values of charts should show daily values."
Currently, the option to show tabular values for the new admissions and census figures only provide values every seventh day (day 0, 7, 14, etc.). This is useful for recreating charts, but not for estimates at a more granular level (e.g., 3 days from today). It would be useful to have an option to see tabular values for each day on the plot (day 0, 1, 2, 3, 4, 5, etc.).

[2020-03-23 20:20] mariekers commented on #207
Would it be possible to add a toggle function on the tabular data to get daily counts?

[2020-03-23 20:21] jordanclark397 commented on #207
@mariekers That would be ideal for us. Even just a separate page with a blob of comma-separated numbers would be great. Something that can quickly be copy-pasta'd into excel.

[2020-03-23 20:46] kmid5280 commented on #207
@jordanclark397 What about adding a slider bar that would set the number of days?

[2020-03-23 22:32] PhilMiller opened #211 "Conflation of regional population with susceptible population is wrong with large infection count"
The raw data shows a total of S+I+R that is larger than the user-provided regional population. This is because the number presumed initially infected based on hospitalization rate isn't subtracted from the population to compute the currently susceptible.

[2020-03-23 22:32] PhilMiller commented on #211
I'll fix this

[2020-03-23 22:42] #207 closed, assigned to nobody

[2020-03-23 22:57] quinn-dougherty commented on #99
issue too broad, but has a lot of useful notes and discussion on it so i'm reticent to close it

[2020-03-23 23:00] therealthaibinh opened #213 "When showing dates (instead of #days), the x-axis labels are a combination of Month-Day and DayOfWeek-Day"
This is with current page defaults, and with "Present result as dates instead of days" checked.
![image](https://user-images.githubusercontent.com/3888147/77370626-aeb5cb80-6d37-11ea-8e8e-03a6c206776a.png)

[2020-03-23 23:10] #85 closed, assigned to garysieling

[2020-03-23 23:11] garysieling opened #214 "Cypress intermittently times out"
Reported through slack - sometimes this step fails, but will pass on re-execution

e.g. https://github.com/CodeForPhilly/chime/pull/191/checks?check_run_id=528505109

[2020-03-24 00:13] kmid5280 commented on #213
What would you prefer to have? Just to show the days only, i.e. "Wed 25?"

[2020-03-24 00:18] quinn-dougherty commented on #207
https://github.com/CodeForPhilly/chime/pull/209 closed by this. i don't actually know why Nick's PR closeed this.

[2020-03-24 00:21] #114 closed, assigned to nobody

[2020-03-24 00:21] #113 closed, assigned to nobody

[2020-03-24 00:25] quinn-dougherty commented on #202
https://github.com/CodeForPhilly/chime/pull/209

[2020-03-24 00:25] #202 closed, assigned to nobody

[2020-03-24 00:25] therealthaibinh commented on #213
Ideally, the month and the day (e.g. "Mar 25"), like in the original issues:
https://github.com/CodeForPhilly/chime/issues/147#issuecomment-601902288
https://github.com/CodeForPhilly/chime/pull/165#issuecomment-602045243

[2020-03-24 00:27] quinn-dougherty commented on #115
this is the subject of a different kind of testing, at least the way i'm currently interpreting this issue.

[2020-03-24 00:27] #203 closed, assigned to nobody

[2020-03-24 00:28] quinn-dougherty commented on #115
pending https://github.com/CodeForPhilly/chime/pull/208 getting merged

[2020-03-24 00:36] themightychris commented on #107
@mariekers we have a potential solution for injecting this at the kubernetes-level outside the application, which we can test out as soon as we have our pre-production cluster in order. If it works, then there's no benefit in waiting for the replatforming

[2020-03-24 01:19] sam-writer commented on #99
@quinn-dougherty I agree, this is too broad, but the collection of ideas is valuable. Is there some way to make the output of this ticket:
* an artifact, summarizing these ideas and the ideas on slack? Not sure what that would look like, or if this issue is possibly the best format for an ongoing brainstorming session on model improvement...
* a ticket, explaining what model improvements are to be

[2020-03-24 01:25] kmid5280 commented on #213
It looks like the value for DATE_FORMAT, line 13 in src/penn_chime/presentation.py is not getting passed in properly to the date_format conditional on line 54, src/penn_chime/utils.py, or that conditional is not being triggered. I can set that value to anything and it won't change the output.

[2020-03-24 01:26] mishmosh commented on #159
@kochizufan We'd very much appreciate your help to translate the usage guide!

Unfortunately we edit this on GitBook so don't have a typical repo with markdown (.md) files to share/fork. It looks like GitBook doesn't export markdown, either.

However, you should be able to mimic the chapter structure from https://code-for-philly.gitbook.io/chime/ pretty easily in Gitbook.

Please keep us posted on

[2020-03-24 01:28] kmid5280 commented on #213
I also tried canceling out the ampersands in the DATE_FORMAT value using backslashes, i.e. `DATE_FORMAT = "%\b, %\d"` without any success.

[2020-03-24 04:31] Mdraugelis opened #221 "Update default parameters based on recent analysis"
Hospitalization %(total infections) = 2.5
ICU %(total infections) = 0.75
Doubling Time = 4
Social distancing (% reduction in social contact) = 30

[2020-03-24 13:53] cls3415 opened #222 "Hospitalization/ICU/Vent utilization question"
This is a great tool!! Kudos!!
This more like a question not an issue.
I was looking for the build_admissions_df sub function and have a question.
So, it looks like, e.g. hospitalization number, was based on "disposition".
And the "disposition" was calculated from "i_hospitalized_v + r_hospitalized_v" in parameter.py.
May I know why the number of hospitalization = (i*hosp_rate*market_share) + (r*h

[2020-03-24 15:10] mishmosh commented on #222
Summarized from #chime-analysis on Slack:

**Answer:** At that point, it’s the number of people who have ever been hospitalized (i.e. the hosp*share fraction of the people who have ever been infected).

**Followup question:** How do we think about patients who spend some days in hospital not ICU and some days in ICU?

**Answer:** Since ever infected is cumulative, the difference is equivalent to n

[2020-03-24 15:19] mariekers commented on #213
Would this be fixed in the plotly switchover?

[2020-03-24 15:20] mariekers commented on #211
@quinn-dougherty is the reformatted app base in the develop branch?
@PhilMiller if you're working on it - mind doing the updates in the new codebase?

[2020-03-24 15:26] quinn-dougherty commented on #211
@mariekers @PhilMiller @jlubken just glanced at the `pull/212` diff, there will be conflicts with `pull/208`

212 renames `susceptible` to `population` in `parameters.py`

[2020-03-24 15:26] quinn-dougherty commented on #211
still don't know which one of those will get merged in first.

[2020-03-24 16:03] #213 closed, assigned to nobody

[2020-03-24 16:35] cls3415 commented on #222
Thank-You @mishmosh !
I mean why do we want to add r * hosp_rate * market_share where r (recovered) is from SIR model since they are recovered, which suggests they might no longer need hospital bed resource.
Thanks!

[2020-03-24 17:51] PhilMiller commented on #211
Move #208 ahead. As noted, #212 requires some more thought, and possible re-design. I'll eat the minimal merge effort.

[2020-03-24 18:11] #108 closed, assigned to nobody

[2020-03-24 18:11] #195 closed, assigned to jlubken

[2020-03-24 19:21] #221 closed, assigned to mdbecker, cjbayesian

[2020-03-24 19:40] mdbecker opened #228 "["bug"] Weird graphing glitch when setting "Y-axis static value""
### Description:
Weird graphing glitch when setting "Y-axis static value". Fortunately this just appears to be a display glitch and is not impacting the underlying data in any way.

### Steps to reproduce:
1. Set "Y-axis static value" in sidebar to a value less than the maximum value on a graph
2. Look at the graph

### Expected behavior:
I expected the values on the y-axis to continue up and to t

[2020-03-24 19:55] #155 closed, assigned to ecsmyth

[2020-03-24 19:57] dzak1234 opened #229 "["bug"]"
Quick question: At any time step, why doesn't the SIR model add up to the total regional population?

[2020-03-24 20:30] nickcanz commented on #228
@mdbecker to explain this, when setting an axis limit there's two options, you can clip or clamp: https://altair-viz.github.io/user_guide/customization.html#adjusting-axis-limits

This is the "clamp" behavior, the idea is to show there there *is* more data, but leave it at where the axis limit is yet.

The "clip" behavior would be to just cut off the data points when they exceed the limit.

This w

[2020-03-24 20:46] kmid5280 commented on #228
I'll give this one a try.

[2020-03-24 21:21] lottspot opened #234 "Deploy CHIME v1.0.0"
Deployment approved by @mdbecker

[2020-03-24 21:24] donovanrichardson commented on #229
On day 0/week 0, for example, the whole regional population is indicated as "susceptible" even though a number are already infected. After that, the sum of susceptible and infected, without recovered, is still greater than the regional population. On day 7 / week 1 this is still true in this screenshot.
<img width="1248" alt="Screenshot 2020-03-24 17 15 31" src="https://user-images.githubuserconte

[2020-03-24 21:27] lottspot commented on #234
Deployment completed; manifest update merged in #235

[code]

[2020-03-24 21:27] #234 closed, assigned to lottspot

[2020-03-24 22:42] themightychris commented on #48
@bharathkkb yes please! Jump in https://codeforphilly.org/chat/chime-ops and say hi so we can coordinate

[2020-03-24 23:26] #66 closed

[2020-03-24 23:33] themightychris opened #236 "Report deployment status to GitHub during heroku deploy"
Use something like [deployment-action](https://github.com/chrnorm/deployment-action) to report deployment status and URL to GitHub while deploying `develop` to Heroku. This can provide visibility within PRs that the deploy is happening, that it finished, and provide the link to the URL

[2020-03-24 23:37] dzak1234 commented on #229
Thank you. I am new to this website so forgive my questions. I understand. Thank you very much. Could I ask you what time step you used in the model?     On Tuesday, March 24, 2020, 04:25:01 PM CDT, donovanrichardson <notifications@github.com> wrote:

On day 0/week 0, for example, the whole regional population is indicated as "susceptible" even though a number are already infected. After that, the

[2020-03-24 23:44] donovanrichardson commented on #229
@dzak1234 I'm wondering just like you why the numbers don't add up. I'm also new here, and I'm not sure how future cases are projected. I have no idea whether this kind of calculation is intentional or not.

When you look at the app and choose the SIR option without changing anything, what appears on your screen is similar to my screenshot, right? And the numbers don't seem to add up?

[2020-03-24 23:56] PhilMiller commented on #229
See #211 - it's about the model's initial conditions. Currently, the Regional Population input is interpreted as the Susceptible population, and the Infected population implied by current hospitalizations are in addition to that. Negligible when case counts were small, not so much now.

When I dug into that, I confirmed that at least the sum of S+I+R was constant over the run.

[2020-03-25 00:07] dzak1234 commented on #229
That makes sense. Thank you. I am trying to recreate the sir model in excel and I get weird results (attached). I calculated all the inputs (beta, R0, etc), based off of the website's definitions, but for the life of me, cannot get reasonable numbers. Does anyone have any experience with this and may provide insight into what is wrong with my excel calculations?

Thank you very much in advance.
Di

[2020-03-25 01:12] pjhoberman opened #237 "["bug"] Chart tooltip and chart description use different rounding"
### Description:
The tooltip (when you hover over a dot on the chart) rounds the number, whereas the description underneath the chart that shows the max value uses a ceiling (rounds up). This can cause a discrepancy between the two values.

### Steps to reproduce:
1. Increase "number of days to project" to where the chart shows the lines decreasing again
2. Hover over the peak dot and observe the

[2020-03-25 01:18] pjhoberman opened #239 "["bug"] Off-by-one error in either the tooltip or the chart description"
### Description:
The dates on the chart tooltips and the dates in the chart description do not match, suggesting there's an off-by-one error in one or both of these.

### Steps to reproduce:
1. Compare the tooltip on the last data point on the chart to the day/date in the chart description, and notice the dates are different.
2. Extend the chart so that the peak of the curve is visible, and compar

[2020-03-25 04:48] PhilMiller opened #240 "["bug"] 'R' in 'SIR' maybe stands for "Removed" not "Recovered"
I hate to do this, but I need to point out a minor terminological bug in the codebase and particularly the data presentation. The R in an SIR model stands for Removed (from the contagion-interacting population), not Recovered. Some of those are recovered, but some of them are dead. It's a morbid detail, but I think the precision is worthwhile.

This affects how things are described in the front-en

[2020-03-25 04:50] PhilMiller commented on #240
Actually, maybe scratch that. One reference I'd read said this, but others I'm finding do call it Recovered, and even state that early descriptions ignored the possibility of deaths entirely.

[2020-03-25 09:47] quinn-dougherty opened #241 "[*Streamlit*] - change order and give subheadings in sidebar"
Please make the sidebar look like the following

[code]

in `penn_chime/presentation.py`, in the function `display_sidebar`, simply reorder the calls to `st.sidebar` and add in calls to `st.subheader`

[2020-03-25 12:56] StanTraykov opened #242 "Hospitalization parameters reference?"
Hospitalization params were changed recently to 2.5%/0.75%/0.5% for 7d/9d/10d. After reading some Chinese and Italian reports (varying degrees of evidence quality/quantity), they do look too optimistic to me (both percentages and periods) but maybe they're not. In any case, I think a reference should be included showing where the defaults come from. All I could find is "based on recent analysis" i

[2020-03-25 13:36] mishmosh commented on #222
@cjbayesian can you answer this question?

[2020-03-25 13:42] donovanrichardson commented on #229
@dzak1234 I think the issue tracker doesn't support attachments, and I can't see them. I'm not sure of who to ask about your particular question, especially since it doesn't seem to be an issue with the CHIME app; in any case, this issue page will probably be closed soon as it is a duplicate. If you check [here](https://code-for-philly.gitbook.io/chime/) there might be some useful information.

[2020-03-25 14:27] jlubken opened #243 "Add tests for date_first_hospitalization csvs"
Add tests using known settings from test/by_date_first_hospitalized compared against csv in that same directory.

Current unit test only use doubling_time.

[2020-03-25 14:28] jlubken opened #244 "Update cli csv files"
Keep cli up to date with csvs offered in the app.

[2020-03-25 14:32] quinn-dougherty opened #245 "document CLI"
documentation for cli

[2020-03-25 15:13] quinn-dougherty commented on #118
this is doable in Dash

[2020-03-25 15:18] mariekers opened #246 "Parity between Dash & Streamlit"
- [ ] signoff on dash by Penn
- [ ]

[2020-03-25 15:18] quinn-dougherty opened #247 "["dash"] - new footer should be hyperlink to docs"
### Description:

new footer should be hyperlink to docs

[x] This is something we can copy over from streamlit (screenshots if applicable)
![Screenshot from 2020-03-25 11-17-17](https://user-images.githubusercontent.com/39039420/77552761-50e5c880-6e8a-11ea-9ade-07a78515e710.png)

[2020-03-25 15:18] mariekers commented on #246
Current Dash prototype: https://chime-dash-prototype.herokuapp.com/

[2020-03-25 15:19] quinn-dougherty commented on #246
**please file issues with the dash template and mark them to the milestone `Move to Dash`**

[2020-03-25 15:31] mariekers opened #248 "Visual parity between Dash & Streamlit"
### Description:
Make Dash look as much like streamlit as possible without slowing it down

Dash: https://chime-dash-prototype.herokuapp.com/
Streamlit: penn-chime.phl.io

[2020-03-25 16:00] donovanrichardson commented on #237
I'll try this as a first issue!

[2020-03-25 16:03] quinn-dougherty opened #250 "["dash"] rearrange input order"
### Description:

dash version of https://github.com/CodeForPhilly/chime/issues/241

Please make the sidebar look like the following
[code]

[2020-03-25 16:08] pjhoberman commented on #115
It looks like this model already has a unit test around it: https://github.com/CodeForPhilly/chime/blob/7b8e6e504e3a68043ce930955dcaa49169c24f74/tests/test_app.py#L224

Is there more to the unit test, or is the request here to set up a selenium-style test for the manual tests listed here: https://github.com/CodeForPhilly/chime/issues/115#issuecomment-601438650

[2020-03-25 16:12] quinn-dougherty commented on #25
i'm closing this and filing a new issue now that we're on Dash. too much discussion here is streamlit-specific

[2020-03-25 16:12] #25 closed

[2020-03-25 16:14] quinn-dougherty opened #251 "["dash"] export dashboard as pdf"
### Description:
export dashboard as pdf

Mike D wrote on the previous issue where this was discussed:

[2020-03-25 16:16] quinn-dougherty commented on #146
should `export settings.cfg` from current state of widgets.

[2020-03-25 16:43] quinn-dougherty commented on #181
ok i'm recommending we do this now. call for volunteers should be explicitly about Plotly Dash, but i don't know who else we need

[2020-03-25 17:41] mariekers commented on #181
https://helpwithcovid.com/projects/363-covid-19-hospital-impact-model-for-epidemics-chime-app

[2020-03-25 17:41] #181 closed, assigned to mariekers

[2020-03-25 17:42] #126 closed, assigned to MooseQuest

[2020-03-25 17:54] donovanrichardson commented on #237
The new rounding on my fork moves the peak ahead by a day or two. I don't think this should be a big deal, but I want to point it out anyway.

<img width="1205" alt="image" src="https://user-images.githubusercontent.com/50427582/77569052-f9525780-6e9f-11ea-849d-e40fd777d1b9.png">

In any case, I think it's a little weird that the current version, there's a difference between the peak day in the bl

[2020-03-25 17:58] jpettit2 commented on #222
I was wondering the same thing. The change from the original formulation and the rationale for the change as I have been able to find are referenced here in issue [189](https://github.com/CodeForPhilly/chime/issues/189#issue-585848003) I find myself of a similar mind to @cls3415 and would also be interested to see further clarification on this.

[2020-03-25 18:01] donovanrichardson commented on #237
Is there a reason why the peak calculation in `chart_descriptions` in `charts.py` adds 1 to the peak day?

[2020-03-25 18:36] pjhoberman commented on #237
That bug is here, FYI: https://github.com/CodeForPhilly/chime/issues/239

And I think the +1 was due to a 0-index concern from idxmax, but if it make sense to remove, remove!

[2020-03-25 18:49] jlubken opened #254 "Add dispositions DataFrame"
Build a dispositions DataFrame that includes day from the raw sim sir df.

Clarify the dispositions code.

[2020-03-25 19:14] cjbayesian opened #255 "Handle 'mid-growth stage' ["model"]"
### Summary
The model was built in the context of the first few days of local outbreak. It is not well equipped to handle projections when there is a non-small number of current infections. There needs to be a way for the user/analyst to specify not only how many cases are currently hospitalized, but also how long it has been since the first case was hospitalized.  In keeping with the goals of the

[2020-03-25 19:20] cjbayesian commented on #168
Working on a solution. linking #255

[2020-03-25 19:34] sam-writer commented on #186
We use types pretty heavily, which IIRC are a 3.6+ feature. So, either we have to strip them from the code, which is a cost both in time, and in our ability to get good feedback from our editors when developing, or update the docs to say "this requires python 3.6+, and is tested on Python 3.7 and 3.8"

I say those version bc our Docker image uses 3.7 https://github.com/CodeForPhilly/chime/blob/dev

[2020-03-25 20:43] mishmosh commented on #181
@mariekers is there a way to add an explicit call for Python Dash experience?

[2020-03-25 20:56] PhilMiller commented on #255
#257 provides an alternative potential solution

[2020-03-25 20:57] PhilMiller commented on #255
It makes a present-day estimate of doubling time, rather than fitting to a history-based estimate.

[2020-03-25 21:02] BrianThomasRoss commented on #172
Currently there are ways of addressing some of the issues through Dash alone so I'm focusing on that right now but one thing to consider is putting the dash app inside a flask app this would allow:

- SQL integration
- authentication (account creation, login, log out)
- true persistence
- Forms
- API integration (remote instances report statistics to central store, applets being used at testing lo

[2020-03-25 21:30] cjbayesian commented on #255
@PhilMiller Can you take a look at my notebook in branch `fithxdoublingtime`?

[2020-03-25 22:13] quinn-dougherty opened #260 "["dash"] add CfP/the open source community to the acknowledgements on the app?"
### Description:

add CfP/the open source community to the acknowledgements on the app

[2020-03-25 22:46] mariekers commented on #181
@mishmosh done

[2020-03-25 22:50] PhilMiller commented on #255
@cjbayesian I just read through it. It seems to be sound.

From a user-oriented perspective, I'm still uncomfortable with asking for a doubling time parameter, since it's one that they'll either need to tediously try to compute, or guess. How about asking for total admissions to date, rather than current in-patients, and when total admissions had been half that?

[2020-03-25 22:57] PhilMiller commented on #255
In general, current hospitalizations is kinda a finicky parameter to work with, because it doesn't reflect that some people may have died or been discharged. Early-stage, assuming those were zero seems to be pretty reasonable. Mid-stage, that's harder.

[2020-03-25 23:21] ecsmyth commented on #159
### User Story
As a non-English speaking hospital administrator, I want to use CHIME to support capacity planning, so that my hospital is better prepared to address the COVID-19 pandemic.

While the U.S. is struggling to prepare, and much of the current media focus is on Italy with its mortality rate near 10 percent, dozens of other countries are struggling to cope with their own COVID-19 outbreak

[2020-03-26 00:05] PhilMiller opened #264 "["model"] Add a warning if reporting detection rate >100%"
### Summary

If the number of Known Cases is great than the estimate of Infected based on Current Hospitalization, Market Share, and Hospitalization Rate, then the presented Detection Rate will be greater than 100%. I think we take for granted that Market Share should be a reasonably accurate input. Thus, seeing a condition like that implies that the provided Hospitalization Rate is higher than re

[2020-03-26 01:06] kmid5280 commented on #264
What kind of notice would be ideal? Like a pop-up alert, or additional text displayed within the markdown?

[2020-03-26 01:09] pjhoberman commented on #146
Any preference on this being a js or py solution?

[2020-03-26 01:26] PhilMiller commented on #264
Probably additional text. But I'm not a user, so someone in contact with them will have to ask.

Also, the same kind of warning would make sense if somehow the implied infected count were greater than the population. That sort of mistake seems more likely.

[2020-03-26 01:30] cjbayesian commented on #255
Agreed. The idea here is to no longer ask the user to input a doubling time and instead compute it for them using the date of the first hospitalization and the # currently hospitalized (accounting for discharges since we're fitting to the back-casted census projection). The approach could easily be adapted to take cumulative total hospitalizations instead of current.

Also of note: All of this wil

[2020-03-26 02:08] PhilMiller commented on #255
Ah, right, I missed that "days since (/ date of) first hospitalization" takes the place of doubling time as an input entirely. So, the number of inputs the model asks for stays the same, and a user-estimated parameter is replaced with user-provided data.

On that note, since we each have proposals for data inputs that would let us do parameter estimation, besides back-testing against data from fur

[2020-03-26 02:10] kmid5280 commented on #264
@PhilMiller By implied infected count do you mean the current known infections or the total infections calculated?

[2020-03-26 02:13] PhilMiller commented on #264
Known infections > population is a straight-up input error, and should be flagged as such - someone probably mis-keyed a digit or something

For the warning, I meant the total infections calculated.

[2020-03-26 02:25] cjbayesian commented on #255
Ya totally. I've been encouraged (modeling-wise, not pandemic-wise) that this method results in an estimated 4-day doubling time to date using Penn downtown hospitals as inputs (n_days_since_first_hospitalized = 16, current_hospitalized = 15).  This leads to very similar projections to what we're producing in the app now.

[2020-03-26 02:38] PhilMiller commented on #255
How do the forecast values on the negative days match up with observations?

[2020-03-26 04:54] ecsmyth commented on #241
From a conversation on Slack: `Section titles hyperlinked to the definition part of docs would be great!`

[2020-03-26 07:42] kochizufan commented on #159
I already created i18n branch on
https://github.com/code4history/chime-1/tree/i18n
and keeping in touch with latest update of develop branch.

My branch still have a issue (I can't fix CI test failure) so I can't make pull request, but I don't mind if the other person start i18n work, then I can help him or her by providing part of my work (Japanese resources https://github.com/code4history/chime-

[2020-03-26 11:39] cjbayesian commented on #255
@Mdraugelis is working on lining this up and evaluating now.

[2020-03-26 12:53] jlubken commented on #94
Perhaps use setuptools_scm after we have pip installable app. It has functions to get the version of the code from within setup.py and a different function to the version within the app. We may have to include the .git directory in the docker image. Just the head of the repo should be sufficient.

[2020-03-26 13:34] themightychris commented on #94
If version could be read from the .git directory, why not from env vars? We'd need more than the head included to be able to resolve the version string from a tag

It's ideal if we can let the build workflow implementation determine the version string (it already is) and inject it as a build-arg to the Docker build. The Dockerfile can than permanently set it in ENV, or write it into some file if t

[2020-03-26 13:53] #254 closed, assigned to jlubken

[2020-03-26 13:59] #237 closed, assigned to nobody

[2020-03-26 14:06] #264 closed, assigned to nobody

[2020-03-26 14:20] dzak1234 commented on #229
Thank you for replying!     On Wednesday, March 25, 2020, 08:42:32 AM CDT, donovanrichardson <notifications@github.com> wrote:

@dzak1234 I think the issue tracker doesn't support attachments, and I can't see them. I'm not sure of who to ask about your particular question, especially since it doesn't seem to be an issue with the CHIME app; in any case, this issue page will probably be closed soon

[2020-03-26 14:28] jlubken opened #268 "Add documentation for market share and current hospitalized cases"
Review test with data science, health comm policy.

Market share will result in optimistic capacity projections when it isn't adjusted for failover and influx from neighboring regions/hospital systems or hospitals. e.g. Princeton gets patients from New York.

Current cases will result in pessimistic capacity projections when it does not account for infection clusters. e.g An uptick in infections f

[2020-03-26 14:41] cjbayesian commented on #255
I added in the back-casing comparisons for Penn's downtown hospitals. See https://github.com/CodeForPhilly/chime/blob/fithxdoublingtime/notebooks/Fit%20doubling%20time%20using%20time%20since%20first%20hospitalization.ipynb

[2020-03-26 14:46] cjbayesian commented on #255
@PhilMiller Do you want to take a crack at implementing this?

[2020-03-26 15:48] #241 closed, assigned to ecsmyth

[2020-03-26 16:07] #90 closed, assigned to ecsmyth

[2020-03-26 16:18] #4 closed

[2020-03-26 16:31] jlubken opened #269 "Fix hover text in inputs"
The hover text is inaccurate. For example for a value of 2.5, 'Hospitalization %' states: "Please enter a valid value. The two nearest valid values are 2.001 and 3.001"

I think the text is generated from the step parameter. Which isn't a bad value, but it is being used to generate the misleading text. Any other options we can add to the st.number_input to fix this?

[2020-03-26 17:06] quinn-dougherty commented on #255
the basic idea of using minimization of loss between expected hospitalization given a doubling_time and actual hospitalization seems sound to me mathematically, but i'm so new to hospitals my opinion shouldn't matter.

code-wise,
1. i think brute force argmin is fine.
2. wrap cells 60 and 61 in functions and put them in SimSirModel obj
3. use the function based on cell 60 to update state of `self.

[2020-03-26 17:11] jlubken opened #270 "Fix inputs"
All the inputs a broken and do not pass through edited values.

[2020-03-26 17:13] cjbayesian commented on #255
I think that this is becoming increasingly relevant to most users since this also fixes the issue of accounting for current hospitalizations in the census projections.

Ideally we would like to give the user the ability to either define the doubling time themselves *or* infer it from time since first hospitalization, but we may be able to get around that by computing and presenting the user with t

[2020-03-26 17:16] cjbayesian commented on #255
^ to accomplish the latter, you'd just need to also run another optimization just like the one I outlined, except this one would hold doubling time fixed and loop over `n_days_since_first_hospitalized`.

[2020-03-26 17:21] #270 closed, assigned to jlubken

[2020-03-26 18:33] kmid5280 commented on #269
What would the text ideally say?

[2020-03-26 19:10] PhilMiller commented on #255
On input UX design: probably preferable to ask for 'date of first admission' than 'days since first admission', since there's an issue to save parameters for users, and the date won't change, while the day count will: #146

[2020-03-26 20:05] jlubken opened #274 "Trim Dockerfile"
Trim Dockerfile

[2020-03-26 21:30] adibiasio commented on #239
I think I've found the error!

In charts.py, 10 days were automatically subtracted from the plot_projection_days variable in the new_admissions_chart function

![chime_issue](https://user-images.githubusercontent.com/61572112/77698130-7c4ddd80-6f86-11ea-8797-84cbb8dda580.JPG)

Here is what the  locally run version looks like now

![Inkedchime_issue2_LI](https://user-images.githubusercontent.com/61

[2020-03-26 21:31] #274 closed, assigned to jlubken

[2020-03-27 00:41] #211 closed, assigned to nobody

[2020-03-27 01:47] PhilMiller opened #277 "["model"] Refactor calculations to avoid repeated methodological questions"
### Summary

People keep asking about why/how the new infections, admissions, and census are calculated. We have every reason to believe the code is correct but it's hard for new readers of the code (including myself, when I started, and still) to follow. We can revise it without changing the output to clarify what it's doing.

### Additional details

### Suggested fix

Express the computation exa

[2020-03-27 02:52] PhilMiller commented on #277
@cjbayesian @quinn-dougherty

Is the current dispositions_df useful in itself, possibly for some future feature, or is it purely an intermediate for the calculation of admissions and census?

[2020-03-27 02:58] adammohammed commented on #239
Same thing exists for the Census chart.
https://github.com/CodeForPhilly/chime/blob/44d9fafebd96166548ded97598be3dce5b106cde/src/penn_chime/charts.py#L65

However, removing that doesn't seem to play well with the Census chart. Notice that the days the peaks occur are dependent on the length of the stay. These could also finish at the "number of days to project" value but it would require running t

[2020-03-27 02:58] PhilMiller commented on #277
Incidentally, this refactoring also makes #206 into a one-line fix: change the day 0 value of `new_infections` from `0.0` to  `i`

[2020-03-27 03:19] PhilMiller commented on #277
E.g. #222

[2020-03-27 04:23] ecsmyth opened #280 "Streamlit doesn't pickup config files because they're not in an expected location"
Dockerfile line 4 specifies `COPY .streamlit ~/`. This results in the config file being placed at `/app/~/config.tml` instead of `/app/.streamlit/config.toml` or `/root/.streamlit/config.toml` where Streamlit expects the file.

[2020-03-27 04:46] ecsmyth opened #282 "["bug"] Cypress and Kubernetes config use hardcoded port"
# Description:
`docker-compose.yml`, Cypress integration tests, and Kubernetes `app.yaml` use a hardcoded port of 8000. These may fail if a non-default port is specified in `.streamlit/config.toml`

### Steps to reproduce:
1. Run `./script/server`
2. Navigate to `http://localhost:8000` in a browser and verify CHIME is running
3. In ./streamlit/config.toml` change port from default `8000` to `8888`

[2020-03-27 11:55] #280 closed, assigned to ecsmyth

[2020-03-27 12:02] ckoerber commented on #255
I have added a [notebook](https://github.com/ckoerber/chime/blob/fithxdoublingtime/notebooks/Bayesian%20fit%20of%20SIR%20parameters.ipynb) which follows the idea of fitting hospital data but runs the fit in a Bayesian context (hope I am not too late). This also allows estimating other parameters like `gamma` and initially infected people `I`.

![bayesian-vs-bruteforce-fit](https://user-images.gith

[2020-03-27 14:04] jlubken opened #284 "Add PPE"
Add PPE to RateDays for each disposition category:
- venilator_ppe_rate: (per patient per day)
- hospitalized_ppe_rate: (per patient per day)
- icu_ppe_rate: (per patient_per day)

Add clinical staff:
- population:
- ppe_rate: (per day)
- weight: 0.0 - 1.0 (fraction of staff ppe_rate vs disposition_ppe_rate to compute PPE required per day)

Estimation for PPE will initially be a weighted average o

[2020-03-27 17:05] MooseQuest commented on #79
Meeting with GKE Team to discuss, and then will circle back on scans with Github.

[2020-03-27 17:06] MooseQuest commented on #79
@BrittanyIstenes -- Can I get some insight too, want to streamline and execute on this as quickly as possible.

[2020-03-27 17:35] PhilMiller commented on #255
I've started pushing anywhere I can to publish time series data of hospitalizations/admissions, so we can start to make these fits more reliably. Unfortunately, I'm a complete outsider, so I have no real access to people who can make that happen.

[2020-03-27 18:14] ecsmyth opened #286 "["bug"] Improve Dockerfile layer caching"
### Description:
The current order of steps in the Dockerfile has some expensive infrequent tasks (e.g., `pip install -q .`) occurring after more frequently modified file are copied (e.g., `src`). The breaks layer caching and causes image builds to take longer than necessary.

### Steps to reproduce:
1. Run `./script/server`
2. Modify a file in `./src`
3. Run `./script/update`

### Expected behavi

[2020-03-27 18:20] ecsmyth opened #287 "["bug"] Market share no longer divided by 100 before creating Parameters object"
# Description:
market_share is not divided by 100 before creating the `Parameters` object in `presentation.py` (`presentation.py` line 293 `market_share=market_share`). This results in the `Parameters` object containing values between 0 and 100 instead of the expected range of 0 to 1.

### Steps to reproduce:
1. Run `./script/server`
2. Open CHIME in a browser

### Expected behavior:
`The estimate

[2020-03-27 18:22] #269 closed, assigned to ecsmyth

[2020-03-27 18:22] #286 closed, assigned to ecsmyth

[2020-03-27 18:22] #287 closed, assigned to ecsmyth

[2020-03-27 19:16] misken commented on #255
I will ask the folks at the health system we are working with if they might be willing to share number of admits by date and perhaps % requiring ICU and % vent.

[2020-03-27 20:04] welfare commented on #250
I can work on this one @quinn-dougherty

[2020-03-27 20:26] jlubken opened #289 "Clarify percents vs rates"
Update the code to clarify percent vs rates

[2020-03-27 20:31] #289 closed, assigned to nobody

[2020-03-27 21:04] btm4554 opened #291 "Calculation of [Initial I] flawed by use of user-input hospitalization rate."
### Summary
Use of user-entered estimate of hospitalization rate leads to poor estimates of [initial I] and optimistically high rate-of-detection.

This can be best demonstrated by running the model using publicly available data.
For example - Philadelphia on 3/24 had  24 hospitalized and  252 confirmed.
 (3/26)  40 hospitalized and 675 confirmed.

The model (fixed hospitalization rate)  this impl

[2020-03-27 21:13] btm4554 commented on #291
Potentially addressed by https://github.com/CodeForPhilly/chime/pull/257

[2020-03-27 21:31] PhilMiller commented on #291
It looks like #255 is actually getting deployed

[2020-03-27 22:26] btm4554 commented on #291
These seem like unrelated issues -  #255 extrapolating the doubling time by looking at time to double of hospitalizations, and  absolutely makes sense.

Assume this reasonable scenario; a segment of the population is tested and known positive cases double, but hospitalizations do not instantaneously change.

 This is very possible, especially in places with early outbreaks, and essentially breaks

[2020-03-28 01:17] welfare commented on #250
Assuming you don't want to remove regional population?

[2020-03-28 01:20] quinn-dougherty commented on #42
closed in https://github.com/CodeForPhilly/chime/pull/279 (for dash, not for streamlit)

[2020-03-28 01:20] #42 closed

[2020-03-28 01:20] quinn-dougherty commented on #260
closed in https://github.com/CodeForPhilly/chime/pull/288

[2020-03-28 01:20] #260 closed, assigned to ecsmyth

[2020-03-28 02:01] Zedmor commented on #250
PR: https://github.com/CodeForPhilly/chime/pull/292

[2020-03-28 02:28] Zedmor commented on #251
Plan to work on it

[2020-03-28 03:09] Zedmor opened #293 "["dash"] Mathjax parsing is not enabled in dash"
### Description:

formatting of scientific notation is missing from the dash.
![Dash](https://user-images.githubusercontent.com/9255/77813601-3412e600-7080-11ea-9175-2ac7f927bfee.png)

Simplest solution adding mathjax:

https://community.plotly.com/t/mathjax-in-dash/6653/8

[ ] This is something we can copy over from streamlit (screenshots if applicable)

[2020-03-28 13:33] quinn-dougherty commented on #118
@welfare is working on this

[2020-03-28 13:56] lottspot commented on #48
A PR for this is being finalized in #259

[2020-03-28 14:02] lottspot opened #297 "Change Deployment strategy to RollingUpdate"
There is no reason why a new release should bring the site down. We should be implementing rolling updates for a more seamless user experience.

[2020-03-28 14:20] quinn-dougherty commented on #250
closed in 292

[2020-03-28 14:20] #250 closed, assigned to nobody

[2020-03-28 14:40] ecsmyth opened #299 "["dash"] Add method on CHIME page for users to request features"
### Description:
![image](https://user-images.githubusercontent.com/17688672/77825557-495f3300-70c7-11ea-9269-4ea9aed9703a.png)

Could be a simple as a button/link to the dash issue request page on GitHub `https://github.com/CodeForPhilly/chime/issues/new?labels=enhancement,hospital-request&template=dash-feature.md&title[]=User%20Requested`

[2020-03-28 14:42] quinn-dougherty commented on #299
i don't think we want our issues to be flooded like that. it's better if they channel in through docs, then slack, then spinning up issues.

[2020-03-28 15:54] mariekers commented on #299
Penn had a direct line of communication on the app in the last version and were flooded with emails - just trying to answer the questions with the documentation first.

[2020-03-28 16:09] quinn-dougherty opened #302 "["dash"] enable CSV download"
### Description:

Please give a button **under each chart** to download the csv of the dataframe that the chart is based on.

[x] This is something we can copy over from streamlit (screenshots if applicable)

[2020-03-28 16:10] quinn-dougherty opened #303 "["dash"] (dependent on issue 302) remove "show tables" functionality"
### Description:

When 302 is merged, all we want is download of csv option without any option to show table in app.

reference: https://github.com/CodeForPhilly/chime/issues/302

[ ] This is something we can copy over from streamlit (screenshots if applicable)

[2020-03-28 16:13] #299 closed, assigned to nobody

[2020-03-28 18:25] themightychris commented on #282
I could see a case for cypress being able to run against non-standard ports so that a dev who has to run the app on another port can still run cypress tests. The Cypress case could be improved by having cypress visit `/` instead of the full URL, and then the default baseUrl can be put in `cypress.json`, and then someone running on a nonstandard port could export `CYPRESS_BASE_URL` to override it

[2020-03-28 18:31] mishmosh opened #306 "["dash"] Fix presentation of header logo and title"
### Description:

(Needs #301 to land first so that CSS files are easier to work with.)

1. Left-align Penn Medicine logo to match left alignment of input fields below.
2. Left-align the application title to match left alignment of app body below.
3. Use same font-family as body, instead of being outlier use of Arial.
4. Change application title to `COVID-19 Hospital Impact Model for Epidemics (CH

[2020-03-28 18:33] themightychris commented on #251
There's a lot of discussion on this already in #25

[2020-03-28 19:15] #248 closed, assigned to nobody

[2020-03-28 19:15] #246 closed, assigned to mdbecker, cjbayesian

[2020-03-28 19:29] mishmosh opened #310 "[dash] Plus/minus button size"
### Description:

In the new [Dash prototype](https://chime-dash-prototype.herokuapp.com/), the +/- buttons are about 6x6 pixels, which is unclickably small (screenshot below). Two options:
- Remove them entirely, or
- Make them larger, like from [streamlit](https://chime-dash-prototype.herokuapp.com/)

Seeking input from frequent users of CHIME — do you use the current +/- buttons?

![image](http

[2020-03-28 19:38] ecsmyth opened #312 "["dash"] Simplify labels for inputs in the sidebar"
### Description:
Current labels are long and on most displays user must scroll the sidebar to adjust all parameters. Reducing the length of the label to 3-4 words and making use of tool tips and links to documentation will simplify data entry as well as make accessing documentation easier.

[ ] This is something we can copy over from streamlit (screenshots if applicable)

[2020-03-28 19:40] ckoerber commented on #159
Let me copy a part of a conversation I had with @ecsmyth related to the dash version.

Q:

A:

**TL;DR**: We could translate the dash app by either translating all files by hand (which does not require any programming expertise, one has to translate files in the [`templates` directory](https://github.com/CodeForPhilly/chime/tree/dash/src/chime_dash/app/templates/en)) or by using external tools and

[2020-03-28 19:45] mishmosh opened #313 "[dash] Make favicon transparent"
### Description:
The favicon that shows up in browser tabs should have a transparent background, not white as currently shown.

Current screenshot:
![image](https://user-images.githubusercontent.com/1306020/77832066-a54aab80-7109-11ea-9d2a-479696b1f515.png)

Here's a .zip with files you can use: [favicon_package_v0.16.zip](https://github.com/CodeForPhilly/chime/files/4397805/favicon_package_v0.16.

[2020-03-28 20:07] mariekers commented on #303
Jordan Clark (on slack) was asking for daily data in the table - is that possible here?

[2020-03-28 20:12] mishmosh opened #315 "[dash] Sidebar text formatting & spacing"
### Description:

Change font sizes and spacing in left sidebar, to make it more efficient to use.

1. Reduce font sizes headers and labels. Suggested:
  - Reduce font size of h5 (font-size: 1rem;)
  - Reduce font size and margin bottom of label (margin-bottom: 0.1rem; font-size: 0.8rem;)

2. Add space and divider between sections, so eyes can scan more easily between sections. Suggested: a gray l

[2020-03-28 22:00] mishmosh opened #316 "[dash] customize geography/system label"
### Description:
Currently both graphs are labeled with "Projected [blah blah blah] at **Penn** hospitals".

For someone using this from another region or hospital system, that's incorrect. While Penn Health is the key stakeholder & we don't want to break any workflows for them, it also seems like there's enthusiastic support for adoption elsewhere.

A couple options:
- Remove the Penn-specific la

[2020-03-28 22:01] quinn-dougherty opened #317 "validate internal state of model"
example: `assert s + i + r == population`, possibly at every time step.

do numbers/functions like `intrinsic_growth_rate`, `gamma`, `beta`, etc. come with bounds? guarantees/invariants? if so, we should encode them in. i'd be happy with `assert`-style programming in the `SimSirModel` class, at least to get started.

PLEASE only take down this ticket if you have expert understanding of the guts of

[2020-03-28 22:10] BrianThomasRoss opened #318 "["dash"] Dash instance defined in app entrypoint"
### Description:
Currently the Dash instance is being defined in the same file as the app entrypoint, this can cause several issues particularly circular imports in certain cases, and this may be the cause of other blockers at the moment

Correcting this should be a top priority in my opinion

From the dash user guide:
![image](https://user-images.githubusercontent.com/48453510/77834937-ffa23700-7

[2020-03-28 23:19] jlubken opened #321 "Check math"
Discussion sir function forcing (s, i, r) values to remain above zero in a way that might hide bugs.

Discussions of #273 from @PhilMiller

I think the right way to say this is:

[code]

And similar for recoveries

[2020-03-29 00:37] adibiasio commented on #239
The "off by one" error now seems to be fixed.

![InkedCHIME_LI](https://user-images.githubusercontent.com/61572112/77836064-35e4b400-7129-11ea-92c0-cd0b601b6e5a.jpg)

Since all of the projections fell one day short, I added one day here.

https://github.com/CodeForPhilly/chime/blob/00d41f3386642f932728532c05390dcdc2ed7fb6/src/penn_chime/presentation.py#L271

I also handled the difference in the ch

[2020-03-29 01:44] kochizufan commented on #159
I already checked dash-based code from the recent "develop" branch (Unfortunately, it couldn't be run in my environment for some reason, it caused some error and stopped).
I think its approach to  i18n is reasonable and I can agree with it.
Once it become mainstream, I can provide Japanese resources.

One question, does dash-based chime replace streamlit-based chime? Or do they continue to be deve

[2020-03-29 03:55] kochizufan commented on #159
For reference:

The result of running dash-based app on my local environment:
(hash of commit: 00d41f3386642f932728532c05390dcdc2ed7fb6 [00d41f3])
[code]

[2020-03-29 10:38] ckoerber commented on #159
Sorry my bad. The dash development currently takes place in the `dash` branch. Launching the app should work there.

We are currently developing both in parallel but to my knowledge, it is intended to phase out `steamlit` in favor of `dash` with the next major release.

[2020-03-29 11:10] ckoerber opened #326 "["dash"] Bootstrap breakpoint for small screens clashes content and sidebar"
### Description:

When hitting the `sm` bootstrap breakpoint for responsive rendering, the sidebar clashes with the content.

Before breakpoint:

![Screen Shot 2020-03-29 at 13 06 30](https://user-images.githubusercontent.com/35035055/77847549-2b282e80-71be-11ea-97f8-c01de0f8ebe5.png)

Smaller than breakpoint:

![Screen Shot 2020-03-29 at 13 06 40](https://user-images.githubusercontent.com/3503505

[2020-03-29 12:14] jlubken opened #328 "Update setup"
Add mypy to setup.cfg, remove typing: ignores

Remove file read from setup.py, use setup.cfg

Add tool defaults to setup.cfg

[2020-03-29 16:08] #328 closed, assigned to jlubken

[2020-03-29 16:48] therealthaibinh opened #335 "Document users of CHIME"
Add a quick form (like a little side pop-up) to ask people to tell us:
- who they are (e.g. hospital admin, hobbyist; their name if they want),
- where they are using it (e.g. MGH, LA county)

We currently have no insight into who is using the tool unless they explicitly email us or say so in the CfP slack.

[2020-03-29 17:00] Mdraugelis opened #336 "["bug"] The current % acutity (Hosp, ICU, and Vent are error prone)"
The current parameters are dependent but the promoted input and use don't keep that constraint.
- Hospitalization %(total infections)
- ICU %(total infections)
- Ventilated %(total infections)

One could put int a hirer Ventilated rate the ICU or Hosptial, but this is not actually possible.

Furthermore, publications report rates of ICU (Critica Care) as rate hospitalizations.  And rate of ventila

[2020-03-29 17:07] #255 closed, assigned to quinn-dougherty

[2020-03-29 17:12] Mdraugelis opened #337 "["bug"] Fix misleading LOS parameter names."
The fields

- Hospital Length of Stay
- ICU Length of Stay
- Vent Length of Stay

These fields can imply that the user should entire the average hospital length of stay for a patient that required ICU.  And similarly for Vent.  Instead, they specifically mean the time in the ICU, and the time on the vent.

### Description:
The fields should be updated.

This should say
- Hospital Length of Stay
-

[2020-03-29 17:20] jlubken opened #338 "[dash] Fixes for merge issue 255"
Resolve penn_chime changes from issue 255 and dash.

[2020-03-29 17:58] #338 closed, assigned to jlubken, quinn-dougherty

[2020-03-29 18:18] PhilMiller opened #340 "["model"] Check impact of latent period delay from infectious to hospitalized on model dynamics and forecasts"
### Summary

There's no a priori reason to assume that transition of a person from the Susceptible to Infectious states corresponds with immediate development of symptoms requiring hospitalization. If there's a separation in time, then the model may be mis-predicting spread in the region by initializing `I` based on present-day hospitalizations.

We need to check whether accounting for this affect

[2020-03-29 18:28] PhilMiller commented on #340
I'm working through the algebra on this before throwing code at it.

[2020-03-29 18:32] pjhoberman commented on #146
The branch as pushed does not work, as it has an infinite loop constantly refreshing the charts and overwriting input changes. I need to step away for a bit, but I could use some help. Thanks for everyone who has already chipped in on this issue!

There’s currently an infinite loop that constantly reloads the app, overwriting any changes to the inputs. This happens even if there is not a hash pres

[2020-03-29 18:55] jlubken opened #342 "[dash] Add sticky y axis per chart"
The single max_y_axis isn't very useful across plots that have very different y ranges.

Add a "sticky" value for each plot that stores the y_scale of the plot.

This may mean that the charts must be generated (not plotted) much earlier than they are now, in order to extract the y_scale.

Look for a hidden streamlit input. Users don't want to set the value, they want to hold a plot constant betwee

[2020-03-29 19:25] UKHS opened #344 "Time component for Social Distancing %["dash"]"
### Description:
Requesting there be a time component for implementation of social distancing reductions. The model (according to the wording of the inputs) assumes that no social distancing has occurred at the time of input, when some areas have had it in place for weeks. This assumption of no social distancing at time of entry skews the model to be much more aggressive as some hospitals/health s

[2020-03-29 19:33] BrianThomasRoss opened #345 "["dash"] Footer should behave like navbar at the bottom of the"
### Description:

Contents of the footer should be in their own container and should span the bottom of the page in a way similar to that of the navbar

References and acknowledgements should be considered part of the page, copyright information should move to the footer, along with any favicons or important links

page contents should exist in between the navbar and the footer

[ ] This is someth

[2020-03-29 19:45] jlubken opened #346 "Add conservation test"
Add conservation test: (s + i + r == population) for all days simulated.

Check non-negative s, i, r for all days simulated.

[2020-03-29 19:50] #346 closed, assigned to jlubken

[2020-03-29 20:10] Mdraugelis opened #348 "["bug"] Remove "Penn" from "New Admissions" and "Admitted Patient (Census)""
## Issue:

Remove the reference to **Penn** in the description of **New Admissions** and **Admittted Patient (Census)**

<img width="425" alt="Screen Shot 2020-03-29 at 4 06 37 PM" src="https://user-images.githubusercontent.com/525828/77859427-46ebfe80-71d7-11ea-801b-dec56ff2b38e.png">

and

Projected number of daily COVID-19 admissions
<img width="443" alt="Screen Shot 2020-03-29 at 4 06 59 PM" s

[2020-03-29 20:13] BrianThomasRoss opened #349 "["development"] Standardize line endings"
### Description:

Agree on standardized line ending format and add configuration settings to project

---
### Examples

**.gitattributes**
This will tell git to use the OS line ending when pulling, but commit using LF
[code]

[2020-03-29 20:27] mdbecker opened #350 "["bug"] Number of days to project is not correct"
## Description:
The SIR model is run for `Number of days since first admin` + `Number of days to project` days but because of the LOS parameters the census only projects out by `Number of days since first admin` + `Number of days to project` - `max(LOS)` (where the max LOS defaults to 10). This results in the graphs not actually projecting the full `Number of days to project`. To address this, the

[2020-03-29 20:39] themightychris opened #351 "Enable default values to be overridden through environment variables"
All the values in [`src/penn_chime/settings.py`](https://github.com/CodeForPhilly/chime/blob/develop/src/penn_chime/settings.py) need to be able to be overridden via environment variables. A consistent scheme like for variables like `CHIME_CURRENT_HOSPITALIZED` should be available so that different instances can have different defaults or change their defaults without rebuilding the application

[2020-03-29 20:50] jlubken opened #352 "Missing 1 hospitalized"
Corey review, confirm, and suggest a solution.

There is an initial hospitalized patient because fitting was done for the date_first_hospitalized or date_first_hospitalized was estimated from doubling_time.

This likely causes an underestimate in growth rate for small marked share, because a single hospitalized patient represents a larger change from zero than in larger market shares.

This shows

[2020-03-29 20:52] mdbecker opened #353 "[dash] Add log scale checkbox in sidebar"
Put it at the bottom of the sidebar. When checked switch the y-axis scale to log scale. Equivalent to [`altair.ScaleType`](https://altair-viz.github.io/user_guide/generated/core/altair.ScaleType.html#altair.ScaleType)`== 'log'`

[2020-03-29 21:07] jlubken commented on #352
@PhilMiller and @cjbayesian Feel free to edit my notes for clarity and accuracy.

[2020-03-29 21:48] jlubken opened #354 "Make parameters immutable"
Parameters should not have editable state. Push that into the Model.

Simplify the tests by making Parameters immutable.

All state mutable state goes into the Model.

[2020-03-29 21:49] quinn-dougherty commented on #321
Phil I gave a quick pass of your algebra-- `s_n` went smoothly enough for half the cases (i made an assumption that 2 cases would co-occur), but `i_n` didn't terminate for any of the 4 cases.
![IMG_20200328_174520](https://user-images.githubusercontent.com/39039420/77861623-0181fe00-71e4-11ea-9bba-8bb0596742ba.jpg)

were you proposing altering the content, not something with parity?

[2020-03-29 22:06] quinn-dougherty commented on #353
dash version of https://github.com/CodeForPhilly/chime/issues/22

[2020-03-29 22:07] quinn-dougherty commented on #187
was piggybacked into https://github.com/CodeForPhilly/chime/pull/273

[2020-03-29 22:12] PhilMiller commented on #187
Yeah, what's left is a single patient difference in #352. Closing this

[2020-03-29 22:12] #187 closed, assigned to PhilMiller

[2020-03-29 22:13] kmid5280 commented on #315
I'll give this one a try.

[2020-03-29 22:13] jlubken commented on #350
This has been fixed mostly. The fitting function uses the n_days to project to attempt to fit. This will fail if the curve hasn't advanced enough to match the number of hospitalized.

Once fit, the sim re-runs with full span of (-i_day, n_days) and projects the full n_days into the future.

[2020-03-29 22:44] #337 closed, assigned to jlubken

[2020-03-29 22:58] PhilMiller commented on #321
I'm checking the same approach for recoveries

[code]

I'll see if I can finish off the proof around i_n accordingly.

[2020-03-29 23:01] PhilMiller commented on #321
This implies that we need a hard stop in the model if the implied initial infected (plus recovered if/when they're added) are greater than the total population, because it would violate `s >= 0` up front.

[2020-03-29 23:28] jlubken opened #356 "RateDays namedtuple of parameters is confusing"
Use Disposition

[2020-03-29 23:50] jlubken opened #357 "Remove sim_sir projection from model state"
Separate the sim sir fitting and projection from the Model state.

Use properties of the Parameters class, but pass these into projection functions.

Compute properties for Model, but do not store these values on the Model during fitting. Store values once after fitting.

Ideally, these function can be copied directly into a notebook without requiring the Model class.

[2020-03-29 23:53] jlubken commented on #244
Completed by other updates to the cli

[2020-03-29 23:53] #244 closed, assigned to nobody

[2020-03-30 00:01] ludflu commented on #45
I was  going to give this item a shot - but I want to understand: why would a hospital system want to run their own instance, as opposed to just going to https://penn-chime.phl.io/ ? Do we expect other hospital systems to customize Chime, and if so, how?

[2020-03-30 00:22] jlubken opened #358 "Add tests for the cli"
The app gets out of sync with the cli. Few to no test fail when this happens. Add unit tests for the cli.

[2020-03-30 00:59] adibiasio commented on #239
With the newly pushed changes, the the if statement in line 157 is no longer needed. The only change is to add one day to `n_days` which is now here,

https://github.com/CodeForPhilly/chime/blob/842e6b316be031e0997b02508311af2cf6312fed/src/penn_chime/presentation.py#L279

`n_days = n_days_input() + 1`

![Screenshot (2)_LI](https://user-images.githubusercontent.com/61572112/77866203-11a7d680-7200-1

[2020-03-30 01:52] PhilMiller commented on #340
Post #273 I'm thoroughly convinced that when `p.relative_contact_rate == 0` the forecast is the  same regardless of a latent period `L`.

 With non-zero social distancing taking effect at 'day 0' of the forecast, the change from `beta` to `beta_t` needs to have happened `L` days earlier. The timing of the slow-down in admissions and consequently census growth will be affected.

Given that forecast

[2020-03-30 03:14] therealthaibinh commented on #348
Would you also want references to Penn removed from the user docs, or leave them in as examples?

[2020-03-30 03:18] PhilMiller commented on #321
For i_n, the equivalence checking holds with the assumption that `0 < gamma <= 1`. The code does bake in that assumption pretty strongly, since `gamma = 1.0 / p.infectious_days`

[2020-03-30 12:21] quinn-dougherty opened #362 "["dash"] text summary"
### Description:
Please implement the text summary below each chart as in streamlit

![Screenshot from 2020-03-30 08-17-41](https://user-images.githubusercontent.com/39039420/77911582-0d5ed600-725f-11ea-9109-d4d88131908f.png)
![Screenshot from 2020-03-30 08-17-16](https://user-images.githubusercontent.com/39039420/77911590-0fc13000-725f-11ea-9f23-38566954a63c.png)

[x] This is something we can cop

[2020-03-30 12:31] #356 closed, assigned to jlubken

[2020-03-30 12:36] quinn-dougherty commented on #362
this can actually be improved-- what'd be great is if instead of the `*` you just omitted the note entirely, or wrote "it does not peak, if you want to see a peak please try incresaing n_days`, something like this?

[2020-03-30 12:49] jlubken commented on #168
Fixed with the last merge of issue 255

[2020-03-30 12:49] #168 closed, assigned to nobody

[2020-03-30 13:06] quinn-dougherty commented on #318
closed in pulls/319

[2020-03-30 13:06] #318 closed, assigned to nobody

[2020-03-30 13:51] #297 closed, assigned to lottspot

[2020-03-30 14:12] sloboy commented on #340
I think that the SEIR model is what you are looking for as a way to have exposed then infected:
It also talks about implementing social distance into the algorithm
https://towardsdatascience.com/social-distancing-to-slow-the-coronavirus-768292f04296

[2020-03-30 16:19] PhilMiller commented on #350
Fixed by https://github.com/CodeForPhilly/chime/pull/365/ - the projection is already run long enough, the forecast computation just mistakenly truncated it be LOS

[2020-03-30 16:24] PhilMiller commented on #350
Or, at least partially fixed - there may be some difference of additional days that should be getting forecast and aren't.

[2020-03-30 17:33] MooseQuest commented on #214
@garysieling Do you have an update on this, might try to pull in additional resources to debug.

[2020-03-30 17:40] garysieling commented on #214
Yeah, it looked like it's an issue once the test is running in Cypress (i.e.. the page not loading correctly all the time) rather than a timeout with it starting up. If someone else has time to look that's fine by me

[2020-03-30 17:59] lottspot opened #371 "URL for packages repository must be all lowercase"
[code]

[2020-03-30 18:06] lottspot commented on #371
Resolved by #372

[2020-03-30 18:06] #371 closed, assigned to nobody

[2020-03-30 18:12] Mdraugelis commented on #348
Just the output areas specified here.  I scanned the documentation and didn't see anything stick out.

[2020-03-30 18:20] quinn-dougherty opened #374 "["dash"] catchup to pull 273 (v1.1)"
### Description:
pull 273 offered a radical new functionality https://github.com/CodeForPhilly/chime/pull/273

in production as of v1.1 https://pennchime.herokuapp.com/ there is a button you can press `I know the date of the first hospitalization`, and if you press that button the code will infer doubling time. If you do not press the button, the code will infer the date of first hospitalization.

[2020-03-30 19:14] jlubken commented on #84
@sam-qordoba I think the point here is to moderate floating point issues. n is computed from the original values of s, i, and r outside the loop or generator.

[2020-03-30 19:22] sam-writer commented on #84
Mentioning @luminoso, since I copied his PR comment into this issue

[2020-03-30 19:57] PhilMiller opened #378 "["model"] Fitting to current census with a long projection can match to the down-slope"
### Summary

Post #255 / #273 the model gets fit to the current hospitalized census. With a long forecast, the closest fitting day may be past the peak, when we actually want to fit to the  closest pre-peak day.

### Additional details

### Suggested fix

Look for the peak in the range of predictions, and then compute minimum loss day among days up to that day.

[2020-03-30 20:05] PhilMiller commented on #378
Playing with things a bit more, the prescribed-doubling-time mode is much more sensitive to this than the prescribed-first-hospitalization mode, because their fitting procedures differ.

[2020-03-30 20:08] cjbayesian commented on #378
Very good catch, @PhilMiller. Indeed this is an issue with fitting days_since. It's finding the optimal solution on the other side of the curve, which makes perfect sense. Any way to keep it on the left side of the projection will fix this.

[2020-03-30 20:11] cjbayesian commented on #378
If we create a row tracking DI/Dt then we can limit the search space to where this is > 0. As in, the slope of the infections curve has to be positive (eg on the left side of the hump).

[2020-03-30 20:13] cjbayesian commented on #378
DI/Dt is precisely the admissions (scaled), so could just make use of that for the constraint.

[2020-03-30 20:23] PhilMiller opened #381 "["model"] Fitting won't match to post-peak dates"
### Summary

The fix for #378 forces the fitting procedure to match up the census to the closest date *pre-peak*, so that we don't accidentally pick a day in a long projection that's way past the peak instead.

### Additional details

### Suggested fix

[2020-03-30 20:27] #378 closed, assigned to PhilMiller

[2020-03-30 21:01] PhilMiller opened #383 "["bug"] Chart rules don't match position of plotted points"
### Description:
![Screen Shot 2020-03-30 at 4 57 41 PM](https://user-images.githubusercontent.com/126464/77961429-cc3ee400-72a7-11ea-8a38-842a2c253663.png)

There's a line marking what should be May 3 on the axis. No point lies on that line. The point closest to it shows May 2

### Steps to reproduce:
1.
2.
3.

### Expected behavior:
Every 7th point should lie exactly on one of the chart rule lin

[2020-03-30 21:18] PhilMiller opened #385 "["model"] Census for hospital and icu are not inclusive of longer LOS for (respectively) icu and ventilator"
### Summary

From Slack:

civicanalyst Today at 5:06 PM

philmiller

### Additional details

### Suggested fix
Calculate a census of the exclusive values, and then sum them appropriately.

[2020-03-30 22:31] WeileiZeng opened #387 "Added to Open Source COVID-19"
Thanks for your work to help the people in need! Your site has been added to the Open-Source-COVID-19 page, which collects open source projects related to COVID-19, including maps, data, news, api, analysis, medical and supply information, etc. Please share to anyone who might need the information in the list, or will possibly contribute to some of those projects. You are also welcome to recommend

[2020-03-30 22:49] kmid5280 commented on #353
Would like to give this a try, but I'm trying to figure out where to actually set the logarithmic value in the plotting. If I wanted to do a straight conversion, based on the docs I should be able to add a "logy" param under the "layout" param in app/services/plotting.py and set it to True. From that point implementing the checkbox should be pretty straightforward. Am I understanding correctly? ht

[2020-03-30 23:12] #118 closed, assigned to nobody

[2020-03-31 00:47] themightychris opened #391 "[dash] optimize print layout"
Add print media style rules to optimize the layout of the page when printed

[2020-03-31 02:19] MooseQuest commented on #214
Might need a more customized approach. I don’t know much about Cypress so maybe I’ll take the time to learn.

-Kristerpher
On Mar 30, 2020, 16:12 -0400, Chris Alfano <notifications@github.com>, wrote:

[2020-03-31 02:38] kmid5280 commented on #310
I can remove the arrows in Firefox by adding a `"-moz-appearance": "textfield"` value to the input component's style. Having trouble doing it in Chrome though, the arrows will appear if you hover the mouse over the input, and I haven't found a way to disable that. Edge doesn't seem to show any arrows.

[2020-03-31 03:00] PhilMiller commented on #340
SEIR doesn't really capture the effect of concern, though it may also be an important refinement. We're concerned here about a delay from a person entering the Infected state (from S in SIR or E in SEIR) to when they would present in a hospital for treatment if necessary. This is particularly of concern for the hospital forecasting model because we're estimating I and beta based on matching hospit

[2020-03-31 04:22] therealthaibinh opened #392 "["bug"] Error when current date is set to earlier than date of first hospitalized case"
### Description:
There is an error when current date is set to earlier than date of first hospitalized case. The error message replaces all the graphs/text that are usually in the middle of the page. (i.e. sidebar is unaffected)

### Steps to reproduce:
1. Use defaults (including leaving the current date as today)
2. Set the date of the first hospitalized case as tomorrow (as in, one day after the

[2020-03-31 06:48] ecsmyth opened #393 "["bug"] Cannot set initial state for `Checklist` input"
### Description:
The Dash Bootstrap component `Checklist` does not allow setting the initial state (i.e. on/off). Only the initial value may be set. If we or another organization wants a default "on" value for a switch line "show_tables." In addition, this may pose a problem for loading parameters from url (issue #146 ).

[2020-03-31 08:58] luminoso commented on #84
The code changed a lot in the last 12 days since this issue creation. I need to recheck if this issue is still valid.

[2020-03-31 14:03] MooseQuest commented on #214
Going to investigate this again; reopening.

[2020-03-31 15:53] quinn-dougherty opened #398 "["dash"] make sidebar conditional on whether or not user knows date of first hospitalization"
### Description:

Dash currently looks like this
![Screenshot from 2020-03-31 11-50-18](https://user-images.githubusercontent.com/39039420/78047025-db746f00-7345-11ea-9dea-f5d3a5096709.png)

[x] This is something we can copy over from streamlit (screenshots if applicable)

we want it to look like this:
![Screenshot from 2020-03-30 14-17-30](https://user-images.githubusercontent.com/39039420/780471

[2020-03-31 15:54] quinn-dougherty commented on #313
we actually broke the favicon feature altogether while resolving a MC, sorry.

[2020-03-31 16:52] ckoerber commented on #340
In principle it might be possible to incorporate the delayed hospitalization effect in a similar spirit as SEIR:

My idea works as follows ("SIHR" like---inspired by a youtube video about modeling the epidemic and [how early quarantine can significantly change the curve](https://www.youtube.com/watch?v=gxAaO2rsdIs&t=1s)):

1. Susceptible people `S` have a chance of becoming infected `I` (proportio

[2020-03-31 17:51] sloboy commented on #340
I am not an epidemiologist either, but I also have experience with modeling
and programming.

The attached link is a paper that talks about several extensions to the SIR
and SEIR model, including one with hunting.  I am thinking that parameter
might be able to be applied to testing:  Random person for testing to
detect latent infected.  If they test positive, then they would be isolated
(removed)

[2020-03-31 18:54] quinn-dougherty commented on #374
closed in pull 394, continued in https://github.com/CodeForPhilly/chime/issues/398

[2020-03-31 18:54] #374 closed, assigned to nobody

[2020-03-31 20:45] #166 closed, assigned to quinn-dougherty

[2020-03-31 21:56] jlubken opened #400 "Stuck current date"
The default current_date (bottom left) does not advance when expected. In settings.py: DEFAULTS is a module global variable initialized once. In turn settings.current_date is initialized once instead of every time the app is invoked. It is not obvious to users that this is incorrect!

Figure out if this is why the default is stuck to the deploy date. I believe that DEFAULTS must be changed into a

[2020-03-31 23:42] mangalap123 commented on #354
I would like to try this. Do you want parameters should be immutable only in test? @jlubken Can I text you directly?

[2020-04-01 01:12] jlubken opened #405 "[dash] Add current day vertical ruler"
Like streamlit, add current day vertical ruler in charts.

[2020-04-01 01:56] brendanobra commented on #45
I'm also  interested in this one - I have a microk8s "cluster" at home , or could probably also try it on an EKS cluster.  Would helm-izing the deployment have any value?

[2020-04-01 03:07] themightychris commented on #45
@brendanobra probably! Are you thinking helm 3? I haven't used it yet but I heard it doesn't require Tiller be set up so that sounds like it could be a great option to add

[2020-04-01 04:12] Mdraugelis opened #406 "["bug"] In tabular data, please just display date not datetime."
The simulation has meaning on the resolution of days, instead of hour of day MMM DD YYYY HHMM.

Update the time display to show MMM DD (Apr 20)

<img width="553" alt="Screen Shot 2020-04-01 at 12 10 41 AM" src="https://user-images.githubusercontent.com/525828/78098482-3c835d80-73ad-11ea-847d-37d04e6600f3.png">

[2020-04-01 05:04] fedhere opened #407 "["model"] social isolation started earlier than model assumes"
### Summary
If I understand the model implementation correctly the model is run with beta prior to current date and beta_t after, where beta_t is the beta corrected for social isolation (suppression of contact rate). While this may be true in a new pandemic it is not true in this case: isolation started in many places ~2 weeks ago which is when the first cases started to appear

### Additional det

[2020-04-01 05:28] Mdraugelis opened #408 "["bug"] In Admission Tabular form display patients rounded down to integers"
["bug"] In Admission Tabular form display patients rounded down to integers.

<img width="524" alt="Screen Shot 2020-04-01 at 1 28 07 AM" src="https://user-images.githubusercontent.com/525828/78102316-0d261e00-73b8-11ea-99d5-b0d8daccd0c8.png">

Hosp, ICU, and Vent values should be integers rounded down.  So for example 1.7 is 1

[2020-04-01 11:37] jlubken opened #409 "Fix timezone"
Find out where altair executes the timezone code for 'date:T' The python DATE_FORMAT is not sufficient to suppress the time element in production.

Timezone issues with the current_date result in times being shown the tabular form of the sim-sir w date data.

The times do not show up in the csvs

[2020-04-01 14:34] brendanobra commented on #45
@themightychris , correct - no tiller/tiller-namespace/rbac-hell.  We are currently moving to helm3 for my day job, and really liking it.  Shall I create a helm story, or use this one?

[2020-04-01 14:39] themightychris commented on #45
I'd say just use this one, it seems like the straightest line to completing this story

[2020-04-01 15:29] #400 closed, assigned to jlubken

[2020-04-01 15:52] #247 closed, assigned to ecsmyth

[2020-04-01 16:01] jlubken commented on #406
See #409 as well, this likely isn't only a presentation issue.

[2020-04-01 16:24] PhilMiller commented on #407
It's being asked for by multiple users, and I need this for #340 anyway, so building it.

[2020-04-01 16:25] PhilMiller commented on #407
Implementation note to self: there are subtleties to be accounted for, particularly during fitting, in the relationship between the mitigation date and the first hospitalization date.

[2020-04-01 16:31] PhilMiller commented on #407
There's going to be another subtlety in the fitting procedure if the mitigations result in a dip in the census value - the fit could match to a value on either side of such a dip. Initially, I think users will have to use the 'Current Date' setting to line up with a census value from an earlier date that makes it unambiguous.

[2020-04-01 17:11] fedhere commented on #407
indeed (reg the implementation note to self) I noticed because earlier versions of the code were giving different fit if given first hosp. date and letting doubling time free and when using the doubling time found by fitting the date of first hosp. So consistency between the results obtained in this two methods is an important test for this. (suggestion: implement as unit test?)

[2020-04-01 17:31] #406 closed, assigned to jlubken

[2020-04-01 17:31] #408 closed, assigned to jlubken

[2020-04-01 17:31] #409 closed, assigned to nobody

[2020-04-01 18:25] sloboy opened #414 "["bug"] entering 0 into hospitalized patients or hospitalized pct crashes app (data entry validation needed)"
### Description: entering 0 into hospitalized patients or hospitalized pct crashes app

### Steps to reproduce:
1. enter 0 and then tab away from Currently Hospitalized or Hospitalization Pct
2.
3.

### Expected behavior:

### What I got instead:
(screenshots if applicable)
![image](https://user-images.githubusercontent.com/30636948/78172983-fd90ee80-7424-11ea-9851-47f2fa6a216d.png)

[2020-04-01 18:25] quinn-dougherty commented on #146
here's PJ's branch https://github.com/CodeForPhilly/chime/tree/146-save-inputs

[2020-04-01 21:20] dzak1234 opened #419 "Chime model - SIR calculation"
Hello,

I am testing the following set of parameters:

Currently Hospitalized COVID-19 Patients	 69
Doubling time before social distancing (days)	4
Social distancing (% reduction in social contact)	30%
Hospitalization %(total infections)	2.5%
ICU %(total infections)	0.75%
Ventilated %(total infections)	0.5%
Hospital Length of Stay	7
ICU Length of Stay	9
Vent Length of Stay	10
Hospital Market Share

[2020-04-01 22:24] MooseQuest opened #421 "Release Documentation Update"
The documentation for #chime-ops to release apps needs to be updated for the new automated procedure.

This also affects, #96 , #129

The details will be created from today's PR #413

[2020-04-02 01:57] jlubken commented on #407
sim_sir_df allows multiple allows for variadic beta, n_days pairs to be passed into the function to represent changes to social distancing policies. However, neither run_projections nor the ui wiring are flexible enough to use this feature at this point.

[2020-04-02 02:06] stanbasickes opened #425 "app.py"
TO CHIME Contributors:

The equations for I,S & R on the web site are
still incorrect.

The web site has:

   S[t+1] = S[t] - beta*S[t]*I[t]

   I[t+1] = I[t] * ( 1+ beta*S[t]*I[t] - gamma )

   R[t+1] = R[t] + gamma*I[t]

   where gamma = 1/recovery_days

The number transforming from infected to recovered
at time t+1 is is the number who became infected at
time= (t-recovery_days), i.e. , beta*S[t

[2020-04-02 03:01] MooseQuest commented on #48
This is resolved via #259 closing!

[2020-04-02 03:01] #48 closed

[2020-04-02 13:37] therealthaibinh opened #427 "["dash"] Pre-release text synchronization with streamlit"
### Description:

In the main window:
- [ ] The text that summarizes the peaks is missing
- [ ] The descriptive text… “The estimated number of currently infected individuals is 18412. This is based on current inputs for Hospitalizations (60), Hospitalization rate (2%), Region size (3600000), and Hospital market share (15%).” … Round the hospitalization rate and market share to at least one decimal

[2020-04-02 13:39] therealthaibinh opened #428 "["dash"] Pre-release text cleanup"
### Description:

[x] Consistency in capitalized of parameter names would be a nice-to-have. (e.g. we have “Currently Hospitalized COVID-19 Patients” and “Date of first hospitalized case”)

[x] The descriptive text should match the parameter names as closely as possible (e.g. “Region size” vs. “Regional Population” … “Hospitalization rate” vs “Hospitalization %(total infections)“)

[x] Done in #46

[2020-04-02 13:56] stanbasickes opened #429 "app.py"
In issue #425 I posted R-code to illustrate the difference between the current equations and those used in app.py. I am sorry but I cannot code with python. Below are the output of two examples using that code.

Initial number of susceptible= 4e+06    Initial number of infected= 100     beta= 0.15 /S0
                  CHIME                 NEW METHOD

       T       I       R  S/1000       I

[2020-04-02 14:17] stanbasickes opened #430 "issue 428"

[2020-04-02 14:18] stanbasickes opened #431 "issue 427"

[2020-04-02 15:32] mariekers opened #436 "["dash"] Update Dropdown Menu"
### Description: modify the learn more dropdown so it moves users through the documentation to get to the git, slack, and general contact info

![Screen Shot 2020-04-02 at 11 24 35 AM](https://user-images.githubusercontent.com/9036553/78267794-5b7d0f00-74d5-11ea-93c1-b76be7b55b4b.png)

Suggestions:
 - [ ] Remove "Contact Us"
 - [ ] Change "User Docs" to "How to Use CHIME"
 - [ ] add `target = _bla

[2020-04-02 15:49] mariekers commented on #436
Slack [discussion](https://codeforphilly.slack.com/archives/CV71EUYD8/p1585841061288600)

[2020-04-02 17:22] PhilMiller opened #439 "["model"] Index day fitting against prescribed doubling time ignores mitigation"
### Summary

When the user provides a doubling time, and the model estimates a date of first hospitalization based on that and current census, it ignores that mitigation may have changed the curve prior to the forecast date. This is a hangover from when mitigation was always assumed to be implemented on the forecast date.

Originally noted https://github.com/CodeForPhilly/chime/pull/418/files#r402

[2020-04-02 17:36] mariekers opened #440 "Add PPE python to model"
### Description: @therealthaibinh has converted the PPE calculations to python - need to integrate these into model in CHIME

Questions:
 - add code as is as a component or separate calculations out and include in py scripts for SIR model

[2020-04-02 17:40] mariekers commented on #440
Model requires external CSV's that need to be served in app

[2020-04-02 17:43] mariekers opened #441 "Import csvs for PPE calculation"
CSv's needed by PPE calculations will need to be changed somewhat regularly - is it possible to upload them directly through the UI or app without having to redeploy changes?

Penn has a notebook with the csvs/parameters needed defined - will need to be linked here

[2020-04-02 17:47] mariekers opened #442 "PPE visualizations in Dash"
Graphs to show needs for:
- respirators
- gloves
- masks
- gowns

over time

with options to download estimates in csvs (similar to current UI)

Questions:
 - should visual be daily or cumulative demand? (or a toggle between the two)
 - do we want to put this on the overall dashboard or have it as a second view?  hidden by default?

[2020-04-02 17:47] luistelmocosta opened #443 "Chime model & curve behavior"
Hello, I am working directly with a hospital from Porto, Portugal. I have been using this amazing tool to simulate the number of UCI which is very important for us. However, I am having some trouble trying to understand a few things.

-  First this social interaction reduction. Here, we have to reduce this for almost fifteen days. If I use the current day, it will assume that these changes start n

[2020-04-02 17:50] mariekers opened #444 "Unit Tests for PPE calcs"
Incorporate tests in git actions to ensure that PPE estimates are in the right neighborhood

This is something Penn is still working through - mostly uses the [excel](https://drive.google.com/file/d/1zoiy7hJJJPgXrljN6-PIYh_0leRNl1Ec/view?usp=sharing) file to check against.

[2020-04-02 17:53] PhilMiller commented on #443
A fix for the social interaction date differing from the forecast date is pending: #418 As a temporary work-around until that's deployed, you could input current hospitalizations as of the mitigation date, and confirm that the rest of your data tracks

[2020-04-02 17:54] mariekers opened #445 "(PPE 2.0) Parameterize PPE csv inputs"
Allow user to update ppe calculation inputs in dash (a lot of these are defined in the current CSVs)
For example:
 - Nurse:patient
 - PPE reuse
 - etc

[2020-04-02 17:56] luistelmocosta commented on #443
You mean change the Current Date to the mitigation date and put the number of hospitalizations at that time?

[2020-04-02 17:56] mariekers opened #446 "PPE user documentation"
Adding documentation of PPE estimation tools in user docs

- will need more than SIR model as there are more inputs in the calculation

[2020-04-02 17:56] PhilMiller commented on #443
Yes, exactly. When doing that, please check the curve's fit against the rest of your data, perhaps adjust parameters accordingly, and report what you find.

[2020-04-02 17:59] PhilMiller commented on #443
For the curve behavior:

Keep in mind that hospital census is a sum over admissions over the preceding length-of-stay days. So, if the mitigation is expected to reduce admissions in the short term, then it can temporarily reduce census if the fall is sharp enough.

Have a look at the bottom graph of Susceptible/Infected/Recovered to see the underlying curves of the model dynamics. Admissions is a

[2020-04-02 18:04] PhilMiller commented on #443
For substituting your own model, all the relevant code is in `src/penn_chime/models.py`.

It can definitely be factored better to make this easier, but the entire codebase has been developed under extreme time pressure. I'm helping refactor things to ease that, and would be happy to support others' efforts to do the same

[2020-04-02 18:06] PhilMiller commented on #443
This part of the documentation will guide you on running your modified version locally:
https://code-for-philly.gitbook.io/chime/open-source/making-your-own-chime-app

[2020-04-02 18:19] luistelmocosta commented on #443
Thank you for all your replies!

I know that but why does it go up again after the `length of stay` days? Shouldn't it follow more a logistic curve and reach the plateau phase? I don't think it is very clear for someone that would use this and it would be hard to explain to them why the curve goes up after a while.
But it seems that doing what you suggested, going back to the mitigation day and ru

[2020-04-02 18:21] PhilMiller opened #447 "Run model for duration of epidemic automatically, and just adjust graph length display"
### Description:

From comments by @jlubken

### Expected behavior:

### What I got instead:
(screenshots if applicable)

[2020-04-02 18:27] #407 closed, assigned to PhilMiller

[2020-04-02 18:45] jlubken opened #449 "["model"]"
### Summary

Prefit policies are not assembled correctly for distancing < day 0.

### Additional details

current_date census does not line up with the with the user's entered currently_hospitalized after fitting.

### Suggested fix

Check how the policies are assembled for the prefit curve.

[2020-04-02 19:32] PhilMiller opened #452 "["model"] Fit all free parameters against longer hospital time series"
### Summary

Among the inputs to the model, parameters can be broken up by which ones should be firm details of the population and hospital, or reliable local calculations, and which ones are unknowns that observations should fit

Firm
- Regional population
- Market share
- ICU and Ventilator usage, as a fraction of hospitalized cases
- Lengths of stay

Unknown
- % Infections requiring hospitaliza

[2020-04-02 19:51] PhilMiller commented on #449
@cjbayesian Could you post any details of what you're seeing? I'll follow up on this as needed, but don't want to repeat work or miss the point.

[2020-04-02 19:59] mariekers opened #454 "Subscribe to updates field"
Add a field to subscribe to updates on the dashboard.
Include: email address, name, and affiliation

[2020-04-02 20:00] kmid5280 commented on #428
@therealthaibinh Regarding the "more info" section, are you suggesting to remove the text that is revealed (with the glitchy characters) and instead give a way for the user to view the docs directly, versus displaying the info on the intro page?

[2020-04-02 20:31] stanbasickes opened #455 "app.py"
### Summary

### Additional details

### Suggested fix

[2020-04-02 21:19] PhilMiller commented on #449
Ok, I can see this now, after playing with things for a bit. It doesn't require distancing to be applied at all. The problem is that with just the doubling time parameter to work with, the possible values of the simulated census are discretized by the increments of the doubling time.

I've tried running the doubling time fit at higher resolution naively, and it does indeed get a lot slower. I'll w

[2020-04-02 21:45] PhilMiller commented on #449
Have a look at branch `refined-fitting`

[2020-04-02 21:50] PhilMiller commented on #449
It's a lot closer, but without burning a bunch more cycles, or spending more time optimizing the code's performance, it's not going to be exact

[2020-04-02 22:01] PhilMiller commented on #449
#456 gets an annoyance out of the way, and would ideally be merged in short order.

[2020-04-02 22:33] #449 closed, assigned to nobody

[2020-04-02 22:39] #431 closed, assigned to nobody

[2020-04-02 22:39] #430 closed, assigned to nobody

[2020-04-02 22:41] PhilMiller commented on #455
Please don't open insubstantial issues on the common repository. These aren't being tracked on your fork.

[2020-04-02 22:41] #455 closed, assigned to nobody

[2020-04-03 01:09] PhilMiller commented on #443
Just to make sure we're understanding each other:

- The curves tracking the Susceptible and Recovered populations are expected to approximate logistic functions
- Admissions tracks the number of people expected to present at the subject hospital each day, as a fraction of the people who transitioned from Susceptible to Infected that day
- Census tracks the number of people expected to be in care

[2020-04-03 01:35] jlubken commented on #62
We've removed currently known regional infections from the model.

[2020-04-03 01:35] #62 closed

[2020-04-03 01:40] jlubken commented on #441
I think the approach will be to push csvs and parameter settings to the cluster outside of the app through something like Hashicorp Consul. These settings are monitored by the job scheduler. When the files change the app is automatically restarted. The app reads these csvs and settings on startup.

In this way the configurations can change independent of the software release cycle.

[2020-04-03 01:42] jlubken commented on #84
I'm closing this issue, feel free to reopen if the explanation was unclear.

[2020-04-03 01:42] #84 closed

[2020-04-03 01:44] jlubken opened #459 "["dash"] Add social distancing measures effective date"
### Description:

Add the social distancing measures effective date

[x] This is something we can copy over from streamlit (screenshots if applicable)

[2020-04-03 02:02] jlubken commented on #348
Completed.

[2020-04-03 02:02] #348 closed, assigned to nobody

[2020-04-03 13:32] jlubken commented on #293
See #428

I like that capability for latex. May way still need maths for some of the text describing R-naught values and doubling time computed from date_first_hospitalized.

However, we are removing the "more info about this tool". Keeping the tool behavior in sync with the tool text in docs in sync with the docs is hurting the code velocity. Just keeping the docs in sync with the tool's behavior

[2020-04-03 13:56] jlubken opened #461 "["dash"] Remove more info"
### Description:

Remove the more info about this tool. There are already links to the documentation.

[ ] This is something we can copy over from streamlit (screenshots if applicable)

[2020-04-03 14:04] jlubken commented on #428
@kmid5280 The menu on the right in dash has a docs link. I think that will be sufficient.

You are correct, we may not need the latex/mathjax renderer when the more about this tool is removed. OTOH it might be nice to use some latex in the description of the sim's output computed parameters: r-naught, etc.

[2020-04-03 14:04] jlubken commented on #293
See #461

[2020-04-03 14:11] jlubken commented on #172
@BrianThomasRoss This current issue is not about persistence of user data. Rather, I need a way for the Penn data scientists to update configuration files that represent the defaults for the application. These changes should not be editing code or tied to a code release: thus the settings.cfg instead of settings.py.

Naturally, the config parser could be extended to accept other data or load from

[2020-04-03 14:38] #421 closed, assigned to MooseQuest

[2020-04-03 14:52] stanbasickes commented on #455
Phil:
I apologize for the posting. The equations being used in the app.py are
wrong.
I was trying to bring that to the attention of the modelers. However, I
cannot figure out
how to properly use github to do that.

Stan Basickes

On Thu, Apr 2, 2020 at 6:41 PM Phil Miller <notifications@github.com> wrote:

[2020-04-03 15:04] jlubken commented on #428
I think we have everything here.

[2020-04-03 15:04] #428 closed, assigned to jlubken

[2020-04-03 15:11] jlubken commented on #94
@themightychris I like your the ENV var over the sed option because it leaves the code exactly as it was checked into the repo.

[2020-04-03 15:38] PhilMiller commented on #455
The equations used in the model do not follow the mechanics one would naively expect, but they are long-established practice in epidemiology. More importantly, the model as it exists is validated as actually having its forecasts matching observations at several hospital systems.

For the still-open issues where you actually posted your code, analysis, and results, I expect one of the professionals

[2020-04-03 15:39] PhilMiller commented on #425
'Merging' these issues to make discussion easier:

Here are Stan's results that got posted in another issue.

====

I posted R-code to illustrate the difference between the current equations and those used in app.py. I am sorry but I cannot code with python. Below are the output of two examples using that code.

Initial number of susceptible= 4e+06    Initial number of infected= 100     beta= 0.15

[2020-04-03 15:40] PhilMiller commented on #429
I just copied your results over to #425. Please post all further discussion in response to that issue, specifically.

[2020-04-03 15:40] #429 closed, assigned to nobody

[2020-04-03 15:51] PhilMiller commented on #15
Single-date intervention is now implemented, pending just addition to the newer Dash UI #459. There's a potential longer-range plan of allowing input of successive interventions (or relaxations . . .). The model code is already set up to handle, and even fit consistent values for, that series, whenever UI is added for it.

[2020-04-03 15:51] #15 closed

[2020-04-03 15:59] PhilMiller opened #463 "Consider fitting against admissions and not census"
### Summary

In several discussions, dating back even to #58, it looks like there are reasons we should use input of daily admissions, and not census, to calculate a fit for the forecast parameters

- Census is confounded by the length of stay parameter
- Census may be disrupted by inter-hospital transfers, requiring deeper analytical care to set inputs that align with the model assumptions

### A

[2020-04-03 16:03] PhilMiller commented on #58
1 and 2 are completely done.

3 and 4 have been addressed by fitting the spread parameter based on the date of first admission and the current hospital census, and by removing testing details from the model entirely.

So, I'm closing this. If you think there's something still to be addressed, please reopen and call it out, or preferably, open a distinct issue for each requested improvement.

[2020-04-03 16:03] #58 closed

[2020-04-03 16:05] PhilMiller commented on #463
Another reason: at least NYC is publishing daily admissions, but not census, because of the system-level efforts necessary to keep the census updated.

[2020-04-03 16:06] dzak1234 commented on #419
Hello, just wanted to circle back and see if there are any thoughts regarding this. Thank you.

[2020-04-03 16:07] stanbasickes commented on #455
I hope they do !!

Stan Basickes,  PhD Statistics U of P  1972

On Fri, Apr 3, 2020 at 11:38 AM Phil Miller <notifications@github.com>
wrote:

[2020-04-03 16:21] PhilMiller commented on #229
The model has since been adjusted to maintain Population = S + I + R at all time steps, though displayed numbers may deviate slightly due to rounding.

[2020-04-03 16:21] #229 closed, assigned to nobody

[2020-04-03 16:26] PhilMiller commented on #291
Tested cases input and Detection rate output have been removed from the code, as irrelevant to the hospital forecasting use case.

We may consider re-introducing confirmed tests as a lower-bound constraints on what the fit parameters say about number of infected on a day, but that's a very separate issue. It would only really come up if testing were happening at way higher rates than it is in most

[2020-04-03 16:26] #291 closed, assigned to nobody

[2020-04-03 16:49] gauribapat commented on #336
Took a look at this, can I be assigned to this issue?

[2020-04-03 17:02] stanbasickes commented on #429
Thank you. I'm sorry, but I I do not know how to pos properly.   Please do
the same for #429.

Stan Basickes

Stan Basic

On Fri, Apr 3, 2020 at 11:40 AM Phil Miller <notifications@github.com>
wrote:

[2020-04-03 17:12] stanbasickes commented on #429
Phil:
Please disregard my last e-mail. I did not see that you had sent both
issues.
Thanks again for your help. I am 81 years old slow to pick up new things.

Stan

On Fri, Apr 3, 2020 at 1:02 PM sandy basickes <basic207@gmail.com> wrote:

[2020-04-03 17:42] PhilMiller opened #464 "Improve model performance"
### Description:

Right now, on my local system, a prescribed doubling time serves a page in about 30 ms, while fitting to a prescribed first date of hospitalization serves a page in about a second. If we start fitting more parameters, that's going to blow up, and the tool will become less functional for interactive use.

[2020-04-03 17:43] PhilMiller commented on #464
Rudimentary timing measurement shows that almost all of the time, >90%, is spent in building the dataframes in `run_projection`

[2020-04-03 18:50] kmid5280 opened #465 "["dash"] Move graph legend to a different position near the graph"
### Description: Graph legend may need to be relocated

Any interest in moving the graph legend to a different position? Currently it sits to the right of the graph, which means that on a smaller screen the graph gets smushed and has to compete with the legend for space.

![graph-mobile](https://user-images.githubusercontent.com/35879775/78394867-ab2d0a80-75a9-11ea-8357-2bc46852e404.png)

[ ] This

[2020-04-03 19:08] #461 closed, assigned to jlubken

[2020-04-03 19:39] mangalap123 commented on #454
I would like to work on this. Can I discuss this with some experts on the topic.

[2020-04-03 20:07] mangalap123 commented on #465
I can do this. Tried changes in local. I moved the legend in the bottom.
Is this OK?
![image](https://user-images.githubusercontent.com/53016895/78400651-205a0900-75c5-11ea-8f00-e23c69f7aadb.png)

[2020-04-03 20:10] jlubken opened #466 "["dash"] Singleton and DEFAULTS"
### Description:

DEFAULTS is not a constant, it must be loaded per client session. Be careful when using module constant or singleton that would cause defaults to be initialized only when a container reloads.

Review all code for DEFAULTS. Replace references to DEFAULTS with values form query parameters, or data updated by the user through the sidebar controls.

[ ] This is something we can copy

[2020-04-03 20:16] #146 closed, assigned to pjhoberman

[2020-04-03 20:51] quinn-dougherty commented on #302
Closed via pulls/324

[2020-04-03 20:51] #302 closed, assigned to nobody

[2020-04-03 21:05] PhilMiller commented on #464
The calculations are a tiny fraction of the runtime. Dataframe construction itself is somehow quite costly. Eliminating that makes things much faster. PR coming soon.

[2020-04-03 21:08] therealthaibinh commented on #454
Similar to https://github.com/CodeForPhilly/chime/issues/335

[2020-04-03 21:31] PhilMiller commented on #464
Yep, doing the entire inner fitting process with straight numpy arrays, and just constructing the DataFrame at the end gets a net 17x faster.

[2020-04-03 23:10] #436 closed, assigned to nobody

[2020-04-03 23:33] asauber opened #473 "The Release link in the sidebar links to Release 1.1.1"
### Description:

The link to the release at the top of the sidebar links specifically to release:
https://github.com/CodeForPhilly/chime/releases/tag/v1.1.1

### Expected behavior:

It should instead link to the current release. Updating the link could potentially be automated as part of the release process.

[2020-04-04 00:11] MooseQuest commented on #465
#468 closes this issue.

[2020-04-04 00:11] #465 closed, assigned to mangalap123

[2020-04-04 01:31] jlubken commented on #94
Streamlit currently uses constants.py and a literal in setup.py.

Integrate/fix this when adding the version and link to dash.

[2020-04-04 01:35] PhilMiller commented on #239
This is actually a kinda horrific first-issue, it turns out. I've dug in and done some research, and it's a result of timezone confusion. If you zoom the chart in to the point where you get a grid line per day, you'll likely see (anywhere other than Dublin time) that the points don't line up with the grid. Or or the other of the tooltip and the dataframe values are going through conversions betwee

[2020-04-04 01:38] pjhoberman commented on #239
Oh man, sorry for marking it good first issue. I think the original issue was just a weirdness with counting, but as the codebase has evolved it's gotten way more complicated. Sorry!

[2020-04-04 01:40] PhilMiller commented on #239
Oh, that's not a problem for me - I've been deep in the guts of the model for the last week. This was just bothering me, so I figured I'd take a look on the off chance it was simple.

I'm not going to try to resolve that discrepancy, now that I've figured out what it is. Someone more comfortable with Python, Numpy, Pandas, and Altair charts, and their data semantics, should knock this down.

[2020-04-04 01:43] PhilMiller commented on #239
Just a little more detail, so others don't need to re-derive this conclusion: the axis seems to be living in UTC, given that as modified, it prints no offset. The plotted values and hence the tooltips seem to be getting a conversion to local time applied.

[2020-04-04 01:52] #473 closed, assigned to jlubken

[2020-04-04 02:02] MooseQuest opened #476 "["security-issue"] dependency issue with mimitest"
### Description:
Reported by dependabot: https://github.com/CodeForPhilly/chime/network/alert/e2e/package-lock.json/minimist/open
### Steps to reproduce:
Checked in Code: https://github.com/CodeForPhilly/chime/blame/develop/e2e/package-lock.json

[2020-04-04 02:53] MooseQuest opened #478 "Update run for CI test for chime_dash (when testing/release)"
Does this need to be updated too @themightychris ?

_Originally posted by @MooseQuest in https://github.com/CodeForPhilly/chime/pull/477_

[2020-04-04 03:04] themightychris commented on #478
As long as streamlit and dash apps co-exist in the same codebase, we should probably fork the GH workflows to test both separately

[2020-04-04 03:23] pjhoberman opened #479 "["bug"] Hash is not updating the sidebar on initial load"
### Description:
On initial page load, the parameters set in the hash are not updating the sidebar inputs. If you edit the hash after load, the sidebar inputs do update.

### Steps to reproduce:
1. Go to a non-default hash url, like: http://0.0.0.0:8050/#population=3600003&market_share=15&current_hospitalized=69&date_first_hospitalized=2020-03-07&doubling_time=4&relative_contact_rate=30&hospitaliz

[2020-04-04 03:23] pjhoberman commented on #479
Likely a fix for @ecsmyth but leaving unassigned for now.

[2020-04-04 03:25] #479 closed, assigned to nobody

[2020-04-04 03:26] pjhoberman commented on #479
Closing - only happening on my own branch, not `develop`

[2020-04-04 16:53] MooseQuest commented on #78
Need to look at this again. The hacky way may work -- but maybe get some thoughts on frontend backend

[2020-04-04 17:59] grahamalama commented on #193
https://github.com/CodeForPhilly/chime/pull/420 was merged, which adds black to the Lint and Test workflow, but it's set to [`continue-on-error`](https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idstepscontinue-on-error) for now. We should take this `continue-on-error` out at some point when we decide to format the whole codebase.

[2020-04-04 18:42] jlubken commented on #222
@jpettit2 @cls3415 The cumulative sums of the three dispositions are shifted by their lengths of stay/days parameters and then subtracted to remove patients. Note that the infectious_days in the SIR model is **independent** of the days spent in each disposition for census. Likely, patients were infectious before their condition deteriorated enough to go to the hospital.

I am not a doctor, but pre

[2020-04-04 18:57] themightychris commented on #78
GTM with GA and TrackJS is now deployed to prod, DM me on slack if you need to be added to GTM or GA accounts

[2020-04-04 18:57] #78 closed

[2020-04-04 21:10] misken commented on #222
@jpettit2 @cls3415 I put together a [notebook](https://github.com/misken/c19/blob/master/mychime/modeling/chime_flow_resources_p1.ipynb) yesterday to try to clarify for myself (and hopefully others) exactly how the resource related computations are done. It has the math that shows why the `patients = raw_df.infected + raw_df.recovered` line is needed and a bunch of explanation and annotated code t

[2020-04-04 21:29] jlubken opened #484 "Fix current_date"
Fix current_date

[2020-04-04 21:34] #484 closed, assigned to jlubken

[2020-04-05 09:24] kochizufan opened #486 "["dash"] intro.py & intro.md are interfering with localization function"
### Description:

intro.py is generating sentences in the program, which interferes with the creation of localization resources.
Problems are here:
[code]

[code]

Please move these sentences into resource files.

In addition, don't create a resource that uses logic to determine the word order.
For example, a sentence like "reduces the doubling time to 2 days" in English, word order in Japanese is

[2020-04-05 13:35] emmanuelle opened #487 "["dash"] Ping Dash team here if help is requested"
Hi there, you folks seem to be doing great with Dash, but if there is something on which help or advice is requested regarding Dash, please ping me here and I will also seek advice from my plotly colleagues (I'm a Python dev at plotly, the company which develops Dash).

[2020-04-05 13:37] emmanuelle commented on #487
I also recommend posting a message in the "Show and tell" section of https://community.plotly.com/ if you are looking for community volunteers, the forum has quite a lot of traffic including seasoned users.

[2020-04-05 15:36] ecsmyth opened #489 "["dash"] Add logging to dash app"
### Description:
Add logging to the dash app to facilitate debugging issues particularly in production.

[ ] This is something we can copy over from streamlit (screenshots if applicable)

[2020-04-05 21:26] PhilMiller opened #491 "["bug"] CLI is out of date relative to the web app implementations"
### Description:

As features have been added to the web application front-ends in Streamlit and Dash, the CLI hasn't been kept in sync

### Expected behavior:

The CLI accepts all the same parameters as the web interface, and produces the same results

### What I got instead:

At least some parameters are missing

### Suggested fix:

Automatically generate the list of arguments to accept based on

[2020-04-06 01:39] DougManuel opened #492 "["model"] Default value for gamma (infectious days)"
**Can you check your assumptions for this default value for gamma γ = 1/14, where 14 days?**

The value of 14 days seems high. Most other models use 7 days or a range from 3 to 7 days. ([Wolfel et. al](https://www.medrxiv.org/content/10.1101/2020.03.05.20030502v1)).

γ is the inverse of the mean infectious period. right?

There is a reference in the documentation, "γ: the CDC is recommending 14 da

[2020-04-06 03:23] dsfabian opened #495 "["model"] Results from running files (models, __init__, parameters, constants, base, validators) from develop branch in notebook differ from CHIME web app census csv download"
### Summary
I work for a data science team at a health system, we have limited knowledge/prior experience running docker containers etc so we downloaded (via urllib.request) the files in the src/pnn_chime folder to run locally and output csvs for patient census in each one of our regions our health system covers. code is in attached notebook. fyi, was having problems getting the relative imports t

[2020-04-06 11:08] ManuTel commented on #419
hi @dzak1234 I have one query that I think you can answer. Given the input, you arrive at the following SIR at t=0

My t = 0 numbers are:
Susceptible: 71,290
Infected: 19,653
Recovered: 9,055

Can you please explain how CHIME estimates the t=0 numbers for infected and recovered?
Thanks in Advance. I tried to do manual calculations but failed.

[2020-04-06 13:25] MooseQuest commented on #489
When adding logging to Dash app, I'd like to try to get at least one of the following logging libraries / methods  in place.:

to Filebeat
to Splunk

[2020-04-06 13:31] Mdraugelis opened #496 "["bug"] Update CHIME documentation to point to penn-chime youtube channel"
Update documentation to point to youtube penn-chime channel.  https://www.youtube.com/channel/UCnyDvzLe1LcbcDsGxObUByA

I suggest adding a topic under "How Do I use it?".

[2020-04-06 13:41] mariekers commented on #496
Added here: https://code-for-philly.gitbook.io/chime/purpose/basic-tutorial

[2020-04-06 13:41] #496 closed, assigned to mariekers

[2020-04-06 13:44] Mdraugelis commented on #336
See this spreadsheet as an example of these updates.  https://docs.google.com/spreadsheets/d/1hZ5HWbPqyZPLwsrc303k-Kr7Ph-YcEmjl150fQeDAzA/edit?usp=sharing

[2020-04-06 14:16] #491 closed, assigned to PhilMiller

[2020-04-06 14:19] jlubken opened #497 "["model"] Load parameters for the app from a file"
Broken parameters. The cli, streamlit, and dash need to use a file for defaults. Ideally the file may optionally be specified through ENV, so that it works with Git Doc synchronization need for the upcoming PPE. Consolidate this into parameters.py. Allow data science to update the file.

[2020-04-06 15:56] sajayjkurup opened #498 "["dash"]Develop Mobile app to assist in Contact Tracing and help hospital capacity planning"
### Description:
Develop a mobile app that helps in Contact Tracing that will help hospitals to forecast capacity needs and suggest to users to self isolate/quarantine. This will be extremely useful once lockdown is lifted and to prevent resurgence.

[ ] This is something we can copy over from streamlit (screenshots if applicable)

[2020-04-06 16:33] fedhere commented on #255
The [notebook](https://github.com/ckoerber/chime/blob/fithxdoublingtime/notebooks/Bayesian%20fit%20of%20SIR%20parameters.ipynb)  is great @ckoerber , and we are doing something similar here (Delaware) but I am wondering what should be fitted:
1) as other pointed out: you can either fit on census or on admits. If you are working with a hospital I would recommend fitting on census but if you are an

[2020-04-06 17:30] fedhere commented on #452
Hi,
In my experience:
Regional population -> not firm: there may be inflation due to people fleeing areas for their second homes, University shut down

ICU and Ventilator usage, as a fraction of hospitalized cases -> this is largely not known

% Infections requiring hospitalization
Spread parameter (as initial beta, doubling time, whatever)
latency from infection to hospital presentation (#340 for

[2020-04-06 22:36] MooseQuest opened #500 "Deploy Google API Secrets to k8s"
# Background/Details

In order to satisfy #454 we must create secrets in the k8s infrastructure to be consumed as ENVIRONMENT_VARIABLES in the container.

Once the app is deployed, it will look for secrets based on ENVIRONMENT_VARIABLES in the pod (app environment) that it is running.

Secrets are the be prepended with `GAPI_CRED_<cred_key_field>` with the `value` entered in as a secret.

## Examp

[2020-04-07 00:31] jlubken opened #502 "["dash"] Pass through recovered"
### Description:

Added a fixme in the dash code src/chime_dash/app/services/callbacks.py ~ 133 to pass through recovered.

Likely, add an hidden input to store recovered.

[ ] This is something we can copy over from streamlit (screenshots if applicable)